In [1]:
# placeholder jupyter notebook for the final project

In [2]:
import os

import pandas as pd
import numpy as np
import datetime as dt

# Assign spreadsheet filename to 'file'
Sales_file = 'Louisville Sales.xlsx'

# Load spreadsheet
salesxl = pd.ExcelFile(Sales_file)

# Print the sheet names
print(salesxl.sheet_names)

['sheet1']

In [3]:
# Load a sheet into a DataFrame by name: df1
df1 = salesxl.parse('sheet1')

# have to clean up the Age data because it is not always correct and it is being used in some decision making later

df1['Age'] = np.where(df1['Age'] > 3000, 0, df1['Age'])
df1['Age'] = np.where(df1['Age'] > 1000, 2020 - df1['Age'].astype(int), df1['Age'])
df1['Age'] = np.where(df1['Age'] > 400, 2020 - df1['Year Built'].astype(int), df1['Age'])
df1['Age'] = np.where(df1['Age'] > 400, 0, df1['Age'])

# testing my cleanup with some specific errorous lines
#df1.loc[4947,'Age']
#df1.loc[160,'Age']
#df1.loc[2098,'Age']
#df1.loc[1918,'Age']

In [4]:
Rent_file = 'Rental data.xlsx'
rentxl = pd.ExcelFile(Rent_file)
print(rentxl.sheet_names)

['sheet1']

In [5]:
df2 = rentxl.parse('sheet1')

# needed to clean up the Rental Age data as well from wrong inputs

df2['Age'] = np.where(df2['Age'] > 3000, 0, df2['Age'])
df2['Age'] = np.where(df2['Age'] > 1800, 2020 - df2['Age'].astype(int), df2['Age'])
df2['Age'] = np.where(df2['Age'] > 400, 0, df2['Age'])

#df2.loc[141,'Age']
#df2.loc[18,'Age']
#df2.loc[56,'Age']
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3887 entries, 0 to 3886
Data columns (total 55 columns):
List Number                             3887 non-null int64
Book Section                            3887 non-null object
Property Sub Type                       3887 non-null object
Listing Date                            3887 non-null datetime64[ns]
Rented Date                             3750 non-null datetime64[ns]
Status Change Date                      3887 non-null datetime64[ns]
Original List Price                     3887 non-null float64
Rent/Month                              3887 non-null float64
Rented Price                            641 non-null float64
Area                                    3887 non-null int64
Street #                                3887 non-null object
St Dir                                  445 non-null object
Street                                  3887 non-null object
Unit #                                  974 non-null object
St Suffix                               3845 non-null object
City                                    3887 non-null object
State/Province                          3887 non-null object
County                                  3887 non-null object
Zip Code                                3887 non-null int64
# 1st Floor Bedrooms                    3886 non-null float64
Lot SF                                  3880 non-null float64
Above Grade Finished                    3887 non-null float64
SqFt -Total Finished                    3887 non-null int64
Above Grade Unfin                       1294 non-null float64
Below Grade Finished                    3887 non-null int64
Below Grade Unfin                       1551 non-null float64
Year Built                              2703 non-null float64
Style                                   3887 non-null object
Acreage                                 3886 non-null float64
# 2nd Floor Bedrooms                    3886 non-null float64
Total # of Rooms                        2618 non-null float64
Total # Bedrooms                        3887 non-null int64
Total Baths                             3887 non-null int64
Baths - Full                            3887 non-null int64
Baths - 1/2                             3887 non-null int64
# Basement Bedrooms                     3886 non-null float64
Sub Area                                3604 non-null object
Nonconform SqFt UF                      845 non-null float64
Subdivision/Condo                       3881 non-null object
SqFt - Source                           3887 non-null object
M Struct Flood Plain                    3887 non-null object
HOA Fee                                 3887 non-null object
Pets Allowed                            3887 non-null object
Furnished                               3887 non-null object
Maintenance Fee                         3887 non-null float64
Building Floors                         3887 non-null float64
# Assigned Parking                      623 non-null float64
Deposit                                 3885 non-null float64
Age                                     3887 non-null int64
List Price/SqFt                         3832 non-null float64
HOA Y/N                                 3385 non-null object
Owner Financing / Lease Option (Y/N)    73 non-null object
Stories                                 3882 non-null float64
# Units                                 865 non-null float64
HOA Annual $                            2895 non-null float64
dtypes: datetime64[ns](3), float64(22), int64(10), object(20)
memory usage: 1.6+ MB

In [6]:
# need to drop rental data that is from before 2019
df2 = df2[(df2['Status Change Date'].dt.year >= 2019)]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1804 entries, 6 to 3886
Data columns (total 55 columns):
List Number                             1804 non-null int64
Book Section                            1804 non-null object
Property Sub Type                       1804 non-null object
Listing Date                            1804 non-null datetime64[ns]
Rented Date                             1667 non-null datetime64[ns]
Status Change Date                      1804 non-null datetime64[ns]
Original List Price                     1804 non-null float64
Rent/Month                              1804 non-null float64
Rented Price                            641 non-null float64
Area                                    1804 non-null int64
Street #                                1804 non-null object
St Dir                                  212 non-null object
Street                                  1804 non-null object
Unit #                                  483 non-null object
St Suffix                               1788 non-null object
City                                    1804 non-null object
State/Province                          1804 non-null object
County                                  1804 non-null object
Zip Code                                1804 non-null int64
# 1st Floor Bedrooms                    1804 non-null float64
Lot SF                                  1800 non-null float64
Above Grade Finished                    1804 non-null float64
SqFt -Total Finished                    1804 non-null int64
Above Grade Unfin                       498 non-null float64
Below Grade Finished                    1804 non-null int64
Below Grade Unfin                       603 non-null float64
Year Built                              1290 non-null float64
Style                                   1804 non-null object
Acreage                                 1803 non-null float64
# 2nd Floor Bedrooms                    1804 non-null float64
Total # of Rooms                        1261 non-null float64
Total # Bedrooms                        1804 non-null int64
Total Baths                             1804 non-null int64
Baths - Full                            1804 non-null int64
Baths - 1/2                             1804 non-null int64
# Basement Bedrooms                     1804 non-null float64
Sub Area                                1804 non-null object
Nonconform SqFt UF                      307 non-null float64
Subdivision/Condo                       1804 non-null object
SqFt - Source                           1804 non-null object
M Struct Flood Plain                    1804 non-null object
HOA Fee                                 1804 non-null object
Pets Allowed                            1804 non-null object
Furnished                               1804 non-null object
Maintenance Fee                         1804 non-null float64
Building Floors                         1804 non-null float64
# Assigned Parking                      260 non-null float64
Deposit                                 1804 non-null float64
Age                                     1804 non-null int64
List Price/SqFt                         1772 non-null float64
HOA Y/N                                 1804 non-null object
Owner Financing / Lease Option (Y/N)    38 non-null object
Stories                                 1804 non-null float64
# Units                                 395 non-null float64
HOA Annual $                            1803 non-null float64
dtypes: datetime64[ns](3), float64(22), int64(10), object(20)
memory usage: 789.2+ KB

In [7]:
df1.head()

,List Number,Book Section,Property Sub Type,Listing Date,Sold Date,Contract Acceptance Date,Original List Price,Listing Price,Sold Price,Area,...,End Date,HOA Y/N,Stories,# Upper Floor Bedrooms,First Floor Laundry,Monthly Maintenance,Seller Concessions,HOA Annual $,Closing Costs and Prepaids,Days on Market
0,1573919,Single Family Residence,SF,2020-11-12,2020-12-30,2020-12-18,189950.0,189950.0,189900.0,5,...,2021-05-12,Y,1,0,N,NaN,Y,400.0,4600.0,36
1,1572930,Single Family Residence,SF,2020-10-30,2020-12-31,2020-11-13,184900.0,182900.0,175000.0,5,...,2021-10-30,N,1,0,Y,NaN,N,0.0,NaN,14
2,1574676,Single Family Residence,SF,2020-11-02,2020-11-20,2020-11-02,290000.0,290000.0,290000.0,9,...,2020-11-30,N,1,0,N,NaN,N,0.0,NaN,0
3,1574083,Condominium,CP,2020-11-16,2021-01-08,2020-12-21,69900.0,67000.0,62000.0,3,...,2021-02-15,Y,1,0,N,NaN,N,3153.0,NaN,35
4,1572788,Condominium,CP,2020-10-29,2020-11-30,2020-10-30,115000.0,115000.0,115000.0,7,...,2021-04-29,Y,1,0,Y,NaN,N,2328.0,NaN,1

In [8]:
# calculating subdivision level average price per sqft and average age and average size for both rental and sales

groupped_sales_df = df1.groupby('Subdivision/Condo')['Sold Price/SqFt', 'Age', 'SqFt -Total Finished'].mean().rename(columns={
    "Sold Price/SqFt": "Average_Sold_Price", 
    "Age": "Average_Sold_Age", 
    "SqFt -Total Finished": "Average_Sold_SqFt"
})

sales_count = df1.groupby('Subdivision/Condo')['Sold Price/SqFt', 'Age', 'SqFt -Total Finished'].size().reset_index(name='sales_count')
groupped_sales_df = pd.merge(groupped_sales_df, sales_count, on="Subdivision/Condo")
groupped_sales_df

,Subdivision/Condo,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count
0,1400 Willow,335.096667,40.000000,2584.666667,3
1,2000 SPRING CONDOMIN,51.030000,64.000000,1113.000000,1
2,550 LOFTS,189.930000,97.000000,1211.000000,1
3,ABBEY WOODS,131.650000,24.500000,1871.500000,2
4,ABERDEEN,208.615714,79.214286,2469.500000,14
5,ACADEMY ESTATES,189.814000,6.400000,3964.800000,5
6,ACADEMY RIDGE,144.336667,16.666667,2128.333333,3
7,ACADEMY RIDGE AT LANDIS LAKE,145.187500,17.250000,2661.500000,4
8,ADAMS HILL,102.107500,41.750000,1174.000000,4
9,ADAMS RUN,117.815000,18.045455,2193.500000,22
10,AGARS,150.960000,29.000000,2377.000000,1
11,AIRVIEW,154.500000,70.000000,1255.000000,1
12,ALANMEADE,196.160000,70.500000,1921.500000,2
13,ALBERT C DICK CONDOMINIUMS,185.000000,45.000000,3100.000000,1
14,ALFRESCO PLACE,211.736667,98.333333,3281.000000,3
15,ALGONQUIN GARDEN,66.870000,61.000000,1944.000000,1
16,ALGONQUIN PARKWAY,66.643333,75.000000,1568.333333,3
17,ALGONQUIN PLACE,65.457273,68.090909,1252.272727,11
18,ALHAMBRA HEIGHTS,201.675714,74.285714,2480.142857,7
19,ALLEN HEIGHTS,150.220000,22.000000,1831.500000,2
20,ALLSTON,164.222500,77.000000,1236.750000,4
21,ALPHA GARDENS,103.210000,49.000000,1182.000000,1
22,ALTA VISTA,153.835000,46.000000,5449.000000,2
23,ALTA VISTA TERRACE,227.260000,38.000000,4755.000000,1
24,AMBASSADOR EAST,95.185000,42.000000,2176.750000,4
25,AMHERST SEC 1,191.440000,80.000000,2860.000000,1
26,AMHURST,189.393333,80.666667,2130.666667,3
27,ANCHOR ESTATES,196.762500,40.500000,3877.750000,4
28,ANCHORAGE,206.417586,63.793103,4508.310345,29
29,ANCHORAGE PIKE,156.790000,33.000000,1722.000000,1
...,...,...,...,...,...
1964,WOODS OF FOX RUN,167.020000,14.000000,4702.000000,1
1965,WOODS OF GLENMARY,128.961429,18.000000,1756.285714,7
1966,WOODS OF LANDIS LAKES,158.039000,16.800000,3950.000000,10
1967,WOODS OF PENN RUN,115.933750,2.375000,2367.375000,8
1968,WOODS OF ST ANDREWS,122.890909,13.000000,1533.181818,11
1969,WOODS OF ST THOMAS,160.355833,28.083333,4079.666667,12
1970,WOODSIDE,150.090000,49.000000,3575.000000,1
1971,WOODSIDE ACRES,184.700000,65.000000,1774.000000,2
1972,WOODSIDE PARK,164.270000,60.000000,2192.000000,1
1973,WOODSIDE POINTE,180.790000,18.000000,3766.000000,2
1974,WOODSPOINTE,100.805000,40.000000,2412.000000,2
1975,WOODSTOCK,172.010000,59.000000,1950.000000,1
1976,WOODSTONE,152.615000,26.000000,5211.500000,2
1977,WOODWAY,53.295000,65.000000,860.000000,2
1978,WORTHINGTON GLEN,134.526000,21.900000,1178.350000,20
1979,WORTHINGTON HILLS,170.230556,37.722222,1413.666667,18
1980,WORTHINGTON PLACE,150.517333,15.533333,1975.600000,15
1981,WYANDOTTE,97.630000,80.800000,828.400000,5
1982,WYNDEMERE,135.578333,14.833333,1681.500000,6
1983,WYNDHAM PLACE,138.692500,23.000000,3257.000000,4
1984,WYNDOVER HILLS,131.466207,0.000000,2781.103448,29
1985,YORKSHIRE,170.010000,64.600000,1348.800000,5
1986,YORKSHIRE SUB,136.430000,69.000000,1356.000000,1
1987,YORKTOWN,139.467500,51.000000,1547.500000,4
1988,YORKTOWN NORTH,135.105385,32.769231,3068.461538,13
1989,YORKTOWN SOUTH,132.605000,26.000000,1873.000000,4
1990,YORKWOOD,134.980000,40.000000,1230.400000,5
1991,YOUNG ACRES,137.220000,65.000000,1494.000000,1
1992,ZACHARY TAYLOR,145.171957,79.956522,1392.065217,46
1993,ZELMA FIELDS,165.912500,51.125000,1791.750000,16

In [9]:
groupped_rental_df = df2.groupby('Subdivision/Condo')['List Price/SqFt', 'Age', 'SqFt -Total Finished'].mean().rename(columns={
    "List Price/SqFt": "Average_Rent_Price", 
    "Age": "Average_Rent_Age", 
    "SqFt -Total Finished": "Average_Rent_SqFt"
})


rent_count = df2.groupby('Subdivision/Condo')['List Price/SqFt', 'Age', 'SqFt -Total Finished'].size().reset_index(name='rent_count')

groupped_rental_df = pd.merge(groupped_rental_df, rent_count, on="Subdivision/Condo")

groupped_rental_df

,Subdivision/Condo,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count
0,2000 SPRING CONDOMIN,1.030000,102.000000,1600.000000,1
1,ABERDEEN,1.090000,77.000000,2641.000000,1
2,ACADEMY RIDGE,0.925000,17.500000,2058.000000,2
3,ACADEMY RIDGE AT LANDIS LAKE,1.000000,17.000000,2030.000000,1
4,ADAMS RUN,1.000000,19.500000,1699.000000,2
5,AIRVIEW,0.955000,64.000000,847.500000,2
6,ALHAMBRA HEIGHTS,1.300000,71.000000,1500.000000,1
7,ALIA,0.880000,21.000000,5030.000000,1
8,ALPHA GARDENS,0.760000,52.000000,2495.000000,1
9,ALTA VISTA,1.210000,50.000000,4789.000000,1
10,ANCHORAGE,1.240000,56.000000,2700.000000,1
11,ANCHORAGE PIKE,1.240000,34.000000,1676.000000,3
12,APPLE VALLEY,0.891667,33.000000,1401.833333,6
13,ARBOR CREEK,1.120000,1.000000,1250.000000,2
14,ARLINGTON,1.402500,77.500000,2045.500000,4
15,ARLINGTON MEADOWS,0.880000,5.000000,3059.000000,1
16,ASH,NaN,37.000000,850.000000,1
17,ASHBY ACRES,1.110000,63.000000,1107.000000,1
18,AUBURN,1.005000,70.000000,720.000000,2
19,AUDUBON PARK,1.040000,78.000000,1855.666667,3
20,AUDUBON WOODS,1.380000,13.000000,1705.000000,1
21,AUSTIN WOODS,1.087500,15.200000,1638.000000,5
22,BANCROFT,0.670000,47.000000,3000.000000,1
23,BANNON CROSSINGS,0.920000,12.000000,3304.000000,1
24,BARBEE HEIGHTS,0.760000,93.500000,1200.000000,2
25,BARBOUR MANOR,0.930000,40.000000,2847.000000,1
26,BARDSTOWN RD HGTS,NaN,6.000000,900.000000,1
27,BARDSTOWN WOODS,0.905000,3.500000,2230.000000,2
28,BARNARD HALL,1.430000,33.000000,5466.000000,1
29,BAXTER LOOP CONDOMIN,1.540000,75.000000,681.000000,1
...,...,...,...,...,...
512,WILDWOOD CONDOMINIUMS,0.800000,42.000000,1250.000000,1
513,WILLOW CREEK,1.080000,46.500000,1052.500000,2
514,WILLOW WOOD,0.860000,39.000000,4660.000000,1
515,WILLOWGATE,0.720000,17.000000,4620.000000,1
516,WINDSOR PLACE,1.040000,50.000000,1060.500000,2
517,WINDWOOD,1.120000,18.000000,1916.000000,1
518,WINDY HILLS,1.000000,36.666667,2682.666667,3
519,WINNERS CIRCLE,1.140000,63.000000,2100.000000,1
520,WISTERIA LANDING,0.920000,46.000000,1001.000000,1
521,WOLF TRACE,0.957778,18.333333,2358.444444,9
522,WOODBOURNE,1.150000,96.000000,2270.000000,1
523,WOODBOURNE HEIGHTS,1.450000,94.000000,962.000000,1
524,WOODCROFT,0.970000,45.000000,1658.000000,1
525,WOODFIELD COMMONS,0.890000,15.000000,1292.000000,2
526,WOODLAND HILLS,1.130000,48.000000,1200.000000,1
527,WOODLAND MANOR,1.210000,55.000000,1026.000000,1
528,WOODLAWN,1.250000,30.000000,1565.000000,1
529,WOODLAWN PARK,1.240000,40.000000,1760.000000,1
530,WOODMONT,1.150000,20.000000,4290.000000,1
531,WOODRIDGE LAKE,1.182500,15.750000,1460.250000,4
532,WOODS OF ST ANDREWS,0.940000,9.000000,1032.000000,1
533,WOODS OF ST THOMAS,0.970000,26.000000,3783.000000,1
534,WORTHINGTON GLEN,0.990000,19.833333,1342.166667,6
535,WORTHINGTON HILLS,1.920000,46.000000,1600.000000,1
536,WORTHINGTON PLACE,1.100000,14.000000,1508.500000,2
537,WYANDOTTE,0.710000,84.000000,1891.500000,2
538,WYNDEMERE,1.165000,15.000000,1199.000000,2
539,YORKSHIRE,0.980000,69.000000,1466.000000,2
540,YORKTOWN NORTH,1.140000,32.000000,3100.000000,1
541,ZACHARY TAYLOR,1.160000,68.000000,947.000000,1

In [10]:
# Merge the 2 dataframes and only keep the subdivisions where there is both sales and rental data available 

subdivision_df = pd.merge(groupped_sales_df, groupped_rental_df, on="Subdivision/Condo", how='inner')
subdivision_df

,Subdivision/Condo,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count
0,2000 SPRING CONDOMIN,51.030000,64.000000,1113.000000,1,1.030000,102.000000,1600.000000,1
1,ABERDEEN,208.615714,79.214286,2469.500000,14,1.090000,77.000000,2641.000000,1
2,ACADEMY RIDGE,144.336667,16.666667,2128.333333,3,0.925000,17.500000,2058.000000,2
3,ACADEMY RIDGE AT LANDIS LAKE,145.187500,17.250000,2661.500000,4,1.000000,17.000000,2030.000000,1
4,ADAMS RUN,117.815000,18.045455,2193.500000,22,1.000000,19.500000,1699.000000,2
5,AIRVIEW,154.500000,70.000000,1255.000000,1,0.955000,64.000000,847.500000,2
6,ALHAMBRA HEIGHTS,201.675714,74.285714,2480.142857,7,1.300000,71.000000,1500.000000,1
7,ALPHA GARDENS,103.210000,49.000000,1182.000000,1,0.760000,52.000000,2495.000000,1
8,ALTA VISTA,153.835000,46.000000,5449.000000,2,1.210000,50.000000,4789.000000,1
9,ANCHORAGE,206.417586,63.793103,4508.310345,29,1.240000,56.000000,2700.000000,1
10,ANCHORAGE PIKE,156.790000,33.000000,1722.000000,1,1.240000,34.000000,1676.000000,3
11,APPLE VALLEY,142.089231,34.846154,2302.307692,13,0.891667,33.000000,1401.833333,6
12,ARBOR CREEK,117.500714,14.357143,1381.714286,14,1.120000,1.000000,1250.000000,2
13,ARLINGTON,202.191429,78.714286,1874.857143,7,1.402500,77.500000,2045.500000,4
14,ARLINGTON MEADOWS,136.493333,10.500000,2708.500000,18,0.880000,5.000000,3059.000000,1
15,ASH,164.840000,37.000000,4300.000000,1,NaN,37.000000,850.000000,1
16,ASHBY ACRES,122.890000,62.000000,1391.000000,3,1.110000,63.000000,1107.000000,1
17,AUDUBON PARK,168.682581,79.451613,2164.000000,31,1.040000,78.000000,1855.666667,3
18,AUDUBON WOODS,174.636667,12.333333,1968.333333,3,1.380000,13.000000,1705.000000,1
19,AUSTIN WOODS,136.005000,16.000000,1754.000000,6,1.087500,15.200000,1638.000000,5
20,BANCROFT,162.271538,49.230769,2969.153846,13,0.670000,47.000000,3000.000000,1
21,BANNON CROSSINGS,128.710000,11.750000,1977.000000,8,0.920000,12.000000,3304.000000,1
22,BARBEE HEIGHTS,172.882143,99.214286,1202.071429,14,0.760000,93.500000,1200.000000,2
23,BARBOUR MANOR,130.780000,43.555556,2585.444444,9,0.930000,40.000000,2847.000000,1
24,BARDSTOWN RD HGTS,95.830000,72.000000,1200.000000,1,NaN,6.000000,900.000000,1
25,BARDSTOWN WOODS,158.142000,13.133333,2719.133333,15,0.905000,3.500000,2230.000000,2
26,BARNARD HALL,230.690000,33.000000,5466.000000,1,1.430000,33.000000,5466.000000,1
27,BAXTER LOOP CONDOMIN,169.442000,74.600000,685.200000,5,1.540000,75.000000,681.000000,1
28,BAXTER PLACE,126.890000,15.000000,993.000000,1,1.070000,17.000000,933.000000,1
29,BAY COLONY,157.321111,27.666667,1227.555556,9,1.045000,28.000000,1527.000000,2
...,...,...,...,...,...,...,...,...,...
452,WILDWOOD CONDOMINIUMS,81.375833,41.250000,948.000000,12,0.800000,42.000000,1250.000000,1
453,WILLOW CREEK,149.061429,45.000000,1362.214286,14,1.080000,46.500000,1052.500000,2
454,WILLOW WOOD,141.381667,35.333333,2928.500000,6,0.860000,39.000000,4660.000000,1
455,WILLOWGATE,181.427778,10.222222,3791.444444,9,0.720000,17.000000,4620.000000,1
456,WINDSOR PLACE,134.487778,54.555556,1454.777778,9,1.040000,50.000000,1060.500000,2
457,WINDWOOD,154.294000,19.400000,2065.200000,5,1.120000,18.000000,1916.000000,1
458,WINDY HILLS,193.024211,57.210526,2334.157895,19,1.000000,36.666667,2682.666667,3
459,WINNERS CIRCLE,132.390000,57.000000,1648.500000,10,1.140000,63.000000,2100.000000,1
460,WISTERIA LANDING,103.377143,47.000000,978.857143,14,0.920000,46.000000,1001.000000,1
461,WOLF TRACE,153.342857,19.000000,2248.142857,7,0.957778,18.333333,2358.444444,9
462,WOODBOURNE,187.325714,91.714286,2086.714286,7,1.150000,96.000000,2270.000000,1
463,WOODBOURNE HEIGHTS,197.295000,90.000000,2470.250000,4,1.450000,94.000000,962.000000,1
464,WOODCROFT,144.697500,46.000000,2293.250000,4,0.970000,45.000000,1658.000000,1
465,WOODFIELD COMMONS,139.730000,18.800000,1172.800000,5,0.890000,15.000000,1292.000000,2
466,WOODLAND HILLS,161.714000,53.300000,1895.800000,10,1.130000,48.000000,1200.000000,1
467,WOODLAND MANOR,130.965333,54.666667,1223.533333,15,1.210000,55.000000,1026.000000,1
468,WOODLAWN,177.625000,66.000000,2724.500000,2,1.250000,30.000000,1565.000000,1
469,WOODLAWN PARK,172.327333,56.933333,1876.600000,15,1.240000,40.000000,1760.000000,1
470,WOODMONT,149.123810,23.285714,3080.095238,21,1.150000,20.000000,4290.000000,1
471,WOODRIDGE LAKE,128.363333,14.555556,1664.000000,18,1.182500,15.750000,1460.250000,4
472,WOODS OF ST ANDREWS,122.890909,13.000000,1533.181818,11,0.940000,9.000000,1032.000000,1
473,WOODS OF ST THOMAS,160.355833,28.083333,4079.666667,12,0.970000,26.000000,3783.000000,1
474,WORTHINGTON GLEN,134.526000,21.900000,1178.350000,20,0.990000,19.833333,1342.166667,6
475,WORTHINGTON HILLS,170.230556,37.722222,1413.666667,18,1.920000,46.000000,1600.000000,1
476,WORTHINGTON PLACE,150.517333,15.533333,1975.600000,15,1.100000,14.000000,1508.500000,2
477,WYANDOTTE,97.630000,80.800000,828.400000,5,0.710000,84.000000,1891.500000,2
478,WYNDEMERE,135.578333,14.833333,1681.500000,6,1.165000,15.000000,1199.000000,2
479,YORKSHIRE,170.010000,64.600000,1348.800000,5,0.980000,69.000000,1466.000000,2
480,YORKTOWN NORTH,135.105385,32.769231,3068.461538,13,1.140000,32.000000,3100.000000,1
481,ZACHARY TAYLOR,145.171957,79.956522,1392.065217,46,1.160000,68.000000,947.000000,1

In [11]:
subdivision_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 482 entries, 0 to 481
Data columns (total 9 columns):
Subdivision/Condo     482 non-null object
Average_Sold_Price    482 non-null float64
Average_Sold_Age      482 non-null float64
Average_Sold_SqFt     482 non-null float64
sales_count           482 non-null int64
Average_Rent_Price    480 non-null float64
Average_Rent_Age      482 non-null float64
Average_Rent_SqFt     482 non-null float64
rent_count            482 non-null int64
dtypes: float64(6), int64(2), object(1)
memory usage: 37.7+ KB

In [12]:
subdivision_df['rent_sales_ratio'] = pd.eval('subdivision_df.Average_Rent_Price/subdivision_df.Average_Sold_Price')*1000
subdivision_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 482 entries, 0 to 481
Data columns (total 10 columns):
Subdivision/Condo     482 non-null object
Average_Sold_Price    482 non-null float64
Average_Sold_Age      482 non-null float64
Average_Sold_SqFt     482 non-null float64
sales_count           482 non-null int64
Average_Rent_Price    480 non-null float64
Average_Rent_Age      482 non-null float64
Average_Rent_SqFt     482 non-null float64
rent_count            482 non-null int64
rent_sales_ratio      480 non-null float64
dtypes: float64(7), int64(2), object(1)
memory usage: 41.4+ KB

In [13]:
# exclude items from the dataframe where the average SqFt and/or Age of the houses sold are very different (more than 50% higher
# or lower) from the average age and/of SqFt of the rented homes -> the Rental and Sales price comparison is not relevant

subdivision_df['rent_sales_age_percent'] = pd.eval('abs((subdivision_df.Average_Sold_Age-subdivision_df.Average_Rent_Age)/subdivision_df.Average_Sold_Age)')
subdivision_df['rent_sales_SqFt_percent'] = pd.eval('abs((subdivision_df.Average_Sold_SqFt-subdivision_df.Average_Rent_SqFt)/subdivision_df.Average_Sold_SqFt)')
subdivision1_df = subdivision_df.drop(subdivision_df[subdivision_df['rent_sales_age_percent'] > .5].index)
reduced_subdivision_df = subdivision1_df.drop(subdivision1_df[subdivision1_df['rent_sales_SqFt_percent'] > .5].index)
reduced_subdivision_df

,Subdivision/Condo,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count,rent_sales_ratio,rent_sales_age_percent,rent_sales_SqFt_percent
1,ABERDEEN,208.615714,79.214286,2469.500000,14,1.090000,77.000000,2641.000000,1,5.224918,0.027953,0.069447
2,ACADEMY RIDGE,144.336667,16.666667,2128.333333,3,0.925000,17.500000,2058.000000,2,6.408628,0.050000,0.033046
3,ACADEMY RIDGE AT LANDIS LAKE,145.187500,17.250000,2661.500000,4,1.000000,17.000000,2030.000000,1,6.887645,0.014493,0.237272
4,ADAMS RUN,117.815000,18.045455,2193.500000,22,1.000000,19.500000,1699.000000,2,8.487884,0.080605,0.225439
5,AIRVIEW,154.500000,70.000000,1255.000000,1,0.955000,64.000000,847.500000,2,6.181230,0.085714,0.324701
6,ALHAMBRA HEIGHTS,201.675714,74.285714,2480.142857,7,1.300000,71.000000,1500.000000,1,6.445992,0.044231,0.395196
8,ALTA VISTA,153.835000,46.000000,5449.000000,2,1.210000,50.000000,4789.000000,1,7.865570,0.086957,0.121123
9,ANCHORAGE,206.417586,63.793103,4508.310345,29,1.240000,56.000000,2700.000000,1,6.007240,0.122162,0.401106
10,ANCHORAGE PIKE,156.790000,33.000000,1722.000000,1,1.240000,34.000000,1676.000000,3,7.908668,0.030303,0.026713
11,APPLE VALLEY,142.089231,34.846154,2302.307692,13,0.891667,33.000000,1401.833333,6,6.275399,0.052980,0.391118
13,ARLINGTON,202.191429,78.714286,1874.857143,7,1.402500,77.500000,2045.500000,4,6.936496,0.015426,0.091016
16,ASHBY ACRES,122.890000,62.000000,1391.000000,3,1.110000,63.000000,1107.000000,1,9.032468,0.016129,0.204170
17,AUDUBON PARK,168.682581,79.451613,2164.000000,31,1.040000,78.000000,1855.666667,3,6.165426,0.018270,0.142483
18,AUDUBON WOODS,174.636667,12.333333,1968.333333,3,1.380000,13.000000,1705.000000,1,7.902121,0.054054,0.133785
19,AUSTIN WOODS,136.005000,16.000000,1754.000000,6,1.087500,15.200000,1638.000000,5,7.996030,0.050000,0.066135
20,BANCROFT,162.271538,49.230769,2969.153846,13,0.670000,47.000000,3000.000000,1,4.128882,0.045313,0.010389
22,BARBEE HEIGHTS,172.882143,99.214286,1202.071429,14,0.760000,93.500000,1200.000000,2,4.396058,0.057595,0.001723
23,BARBOUR MANOR,130.780000,43.555556,2585.444444,9,0.930000,40.000000,2847.000000,1,7.111179,0.081633,0.101165
26,BARNARD HALL,230.690000,33.000000,5466.000000,1,1.430000,33.000000,5466.000000,1,6.198795,0.000000,0.000000
27,BAXTER LOOP CONDOMIN,169.442000,74.600000,685.200000,5,1.540000,75.000000,681.000000,1,9.088656,0.005362,0.006130
28,BAXTER PLACE,126.890000,15.000000,993.000000,1,1.070000,17.000000,933.000000,1,8.432501,0.133333,0.060423
29,BAY COLONY,157.321111,27.666667,1227.555556,9,1.045000,28.000000,1527.000000,2,6.642465,0.012048,0.243936
30,BAY TREE,133.494615,20.461538,1761.923077,13,1.013333,18.166667,1790.000000,6,7.590818,0.112155,0.015935
31,BAYBERRY CONDOS,62.300000,35.000000,915.000000,1,0.840000,35.000000,1011.000000,1,13.483146,0.000000,0.104918
32,BEAUMONT,193.644286,73.714286,1725.857143,7,1.375000,73.000000,965.000000,2,7.100648,0.009690,0.440858
33,BEE LICK CREEK,116.405000,43.500000,1135.500000,2,1.230000,23.000000,1050.000000,1,10.566556,0.471264,0.075297
34,BEECHMONT,117.438182,88.136364,1494.000000,22,1.110000,73.000000,763.000000,1,9.451781,0.171738,0.489290
36,BELKNAP,205.442857,57.428571,1858.142857,7,0.660000,80.000000,1500.000000,1,3.212572,0.393035,0.192742
37,BELLEMEADE,169.381250,62.000000,2254.875000,8,1.140000,66.000000,1913.500000,2,6.730379,0.064516,0.151394
38,BELLEWOOD,190.961429,75.285714,2061.571429,7,1.250000,68.000000,1356.000000,1,6.545825,0.096774,0.342249
...,...,...,...,...,...,...,...,...,...,...,...,...
446,WHIPPS MILLGATE,150.062500,60.875000,1209.000000,8,1.260000,64.000000,1071.000000,1,8.396501,0.051335,0.114144
447,WHISPERING HILLS,150.180294,52.470588,1746.823529,34,1.300000,58.000000,2050.000000,2,8.656262,0.105381,0.173559
449,WILDER ESTATES,176.840000,58.000000,2538.000000,2,1.120000,57.000000,2398.000000,1,6.333409,0.017241,0.055162
450,WILDER PARK,106.026818,85.909091,1210.409091,22,0.780000,100.000000,1079.800000,5,7.356629,0.164021,0.107905
451,WILDWOOD,155.717778,59.555556,1966.777778,9,0.940000,59.000000,2130.000000,1,6.036562,0.009328,0.082990
452,WILDWOOD CONDOMINIUMS,81.375833,41.250000,948.000000,12,0.800000,42.000000,1250.000000,1,9.830929,0.018182,0.318565
453,WILLOW CREEK,149.061429,45.000000,1362.214286,14,1.080000,46.500000,1052.500000,2,7.245335,0.033333,0.227361
456,WINDSOR PLACE,134.487778,54.555556,1454.777778,9,1.040000,50.000000,1060.500000,2,7.733045,0.083503,0.271023
457,WINDWOOD,154.294000,19.400000,2065.200000,5,1.120000,18.000000,1916.000000,1,7.258869,0.072165,0.072245
458,WINDY HILLS,193.024211,57.210526,2334.157895,19,1.000000,36.666667,2682.666667,3,5.180697,0.359092,0.149308
459,WINNERS CIRCLE,132.390000,57.000000,1648.500000,10,1.140000,63.000000,2100.000000,1,8.610922,0.105263,0.273885
460,WISTERIA LANDING,103.377143,47.000000,978.857143,14,0.920000,46.000000,1001.000000,1,8.899453,0.021277,0.022621
461,WOLF TRACE,153.342857,19.000000,2248.142857,7,0.957778,18.333333,2358.444444,9,6.245989,0.035088,0.049063
462,WOODBOURNE,187.325714,91.714286,2086.714286,7,1.150000,96.000000,2270.000000,1,6.139040,0.046729,0.087835
464,WOODCROFT,144.697500,46.000000,2293.250000,4,0.970000,45.000000,1658.000000,1,6.703640,0.021739,0.277009
465,WOODFIELD COMMONS,139.730000,18.800000,1172.800000,5,0.890000,15.000000,1292.000000,2,6.369427,0.202128,0.101637
466,WOODLAND HILLS,161.714000,53.300000,1895.800000,10,1.130000,48.000000,1200.000000,1,6.987645,0.099437,0.367022
467,WOODLAND MANOR,130.965333,54.666667,1223.533333,15,1.210000,55.000000,1026.000000,1,9.239086,0.006098,0.161445
469,WOODLAWN PARK,172.327333,56.933333,1876.600000,15,1.240000,40.000000,1760.000000,1,7.195608,0.297424,0.062134
470,WOODMONT,149.123810,23.285714,3080.095238,21,1.150000,20.000000,4290.000000,1,7.711713,0.141104,0.392814
471,WOODRIDGE LAKE,128.363333,14.555556,1664.000000,18,1.182500,15.750000,1460.250000,4,9.212132,0.082061,0.122446
472,WOODS OF ST ANDREWS,122.890909,13.000000,1533.181818,11,0.940000,9.000000,1032.000000,1,7.649061,0.307692,0.326890
473,WOODS OF ST THOMAS,160.355833,28.083333,4079.666667,12,0.970000,26.000000,3783.000000,1,6.049047,0.074184,0.072718
474,WORTHINGTON GLEN,134.526000,21.900000,1178.350000,20,0.990000,19.833333,1342.166667,6,7.359172,0.094368,0.139022
475,WORTHINGTON HILLS,170.230556,37.722222,1413.666667,18,1.920000,46.000000,1600.000000,1,11.278821,0.219440,0.131809
476,WORTHINGTON PLACE,150.517333,15.533333,1975.600000,15,1.100000,14.000000,1508.500000,2,7.308128,0.098712,0.236435
478,WYNDEMERE,135.578333,14.833333,1681.500000,6,1.165000,15.000000,1199.000000,2,8.592818,0.011236,0.286946
479,YORKSHIRE,170.010000,64.600000,1348.800000,5,0.980000,69.000000,1466.000000,2,5.764367,0.068111,0.086892
480,YORKTOWN NORTH,135.105385,32.769231,3068.461538,13,1.140000,32.000000,3100.000000,1,8.437858,0.023474,0.010278
481,ZACHARY TAYLOR,145.171957,79.956522,1392.065217,46,1.160000,68.000000,947.000000,1,7.990524,0.149538,0.319716

In [14]:
# show the subdivisions with the highest rent(per sqft)/sales(per sqft) ratio -> where you get the most bang for your buck
# if investing in a rental property

sorted_subdivision_df = reduced_subdivision_df.sort_values(['rent_sales_ratio'], ascending=False)
sorted_subdivision_df

,Subdivision/Condo,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count,rent_sales_ratio,rent_sales_age_percent,rent_sales_SqFt_percent
78,CALIFORNIA,27.542500,83.750000,1151.500000,4,0.870000,110.000000,954.000000,1,31.587547,0.313433,0.171515
242,INNWOOD,51.577500,39.000000,538.000000,4,1.250000,38.000000,538.000000,1,24.235374,0.025641,0.000000
442,WESTMEADE,29.990000,91.000000,1142.000000,1,0.720000,94.000000,1040.000000,1,24.008003,0.032967,0.089317
107,CHURCHILL,61.666667,97.333333,958.333333,3,1.330000,60.000000,500.000000,1,21.567568,0.383562,0.478261
335,PORTLAND,35.931905,110.454545,1210.272727,22,0.693333,118.000000,1108.666667,3,19.295758,0.068313,0.083953
138,DEARBORN,52.955000,71.500000,1205.000000,4,0.890000,83.000000,1091.500000,2,16.806723,0.160839,0.094191
264,LENOX,73.103333,76.666667,940.933333,15,1.220000,69.000000,572.000000,1,16.688705,0.100000,0.392093
108,CHURCHILL EAST,38.630000,90.500000,1034.000000,2,0.640000,99.000000,1400.000000,1,16.567435,0.093923,0.353965
48,BOULEVARD HEIGHTS,72.772000,80.000000,852.400000,5,1.200000,92.000000,1278.000000,1,16.489859,0.150000,0.499296
146,DULWORTH JC,72.133333,66.666667,1187.333333,3,1.120000,61.000000,1114.000000,1,15.526802,0.085000,0.061763
58,BROAD ACRES,76.000000,69.500000,700.000000,2,1.070000,68.000000,700.000000,1,14.078947,0.021583,0.000000
86,CECIL AVE,55.490000,95.000000,1802.000000,1,0.780000,97.000000,1251.000000,1,14.056587,0.021053,0.305771
205,HARRIS,54.798750,95.250000,1461.750000,8,0.750000,103.000000,924.000000,1,13.686444,0.081365,0.367881
31,BAYBERRY CONDOS,62.300000,35.000000,915.000000,1,0.840000,35.000000,1011.000000,1,13.483146,0.000000,0.104918
227,HILLVIEW,116.715000,41.500000,1134.500000,4,1.560000,36.000000,832.000000,1,13.365891,0.132530,0.266637
187,GLASSWORKS,99.753500,110.000000,1303.750000,20,1.220000,110.000000,1000.000000,1,12.230147,0.000000,0.232982
223,HIGHWOOD,97.711000,40.800000,1048.500000,10,1.190000,41.000000,1257.000000,1,12.178772,0.004902,0.198856
151,EL CONQUISTADOR,76.003333,43.666667,953.416667,12,0.920000,42.000000,1004.000000,1,12.104732,0.038168,0.053055
92,CEDAR MEADOWS,142.133333,9.666667,1552.333333,3,1.680000,11.000000,2078.000000,1,11.819887,0.137931,0.338630
312,OAKLAWN ESTATES,104.900000,39.000000,1716.000000,1,1.220000,55.000000,2148.000000,1,11.630124,0.410256,0.251748
214,HIGHBAUGHS POWELL,82.663704,88.037037,1144.703704,27,0.960000,110.000000,1148.000000,1,11.613319,0.249474,0.002880
376,SHELBY CROSSING,96.197143,48.714286,965.571429,7,1.116000,39.800000,876.400000,5,11.601176,0.182991,0.092351
133,CRESCENT HILL ROYALE,129.264286,21.857143,1004.857143,7,1.497500,16.250000,615.750000,4,11.584793,0.256536,0.387226
263,LENNOX,71.640000,69.500000,1052.000000,2,0.820000,70.000000,1100.000000,1,11.446119,0.007194,0.045627
475,WORTHINGTON HILLS,170.230556,37.722222,1413.666667,18,1.920000,46.000000,1600.000000,1,11.278821,0.219440,0.131809
52,BRIARGATE,103.367500,60.312500,1276.375000,16,1.165000,62.500000,797.000000,2,11.270467,0.036269,0.375575
267,LINDSAY HEIGHTS,118.507273,42.909091,741.636364,11,1.333333,44.000000,598.000000,6,11.251068,0.025424,0.193675
322,PARK FOREST,83.001000,61.200000,1019.500000,10,0.925000,61.000000,1190.000000,2,11.144444,0.003268,0.167239
142,DOERHOEFERS,70.415000,72.000000,1937.500000,6,0.780000,95.500000,1245.000000,2,11.077185,0.326389,0.357419
309,OAK PARK,82.061667,88.833333,1238.833333,6,0.900000,95.000000,886.000000,1,10.967362,0.069418,0.284811
...,...,...,...,...,...,...,...,...,...,...,...,...
174,FOX HARBOR,139.475000,46.250000,3817.750000,4,0.730000,28.000000,3077.000000,1,5.233913,0.394595,0.194028
1,ABERDEEN,208.615714,79.214286,2469.500000,14,1.090000,77.000000,2641.000000,1,5.224918,0.027953,0.069447
152,ELINES SUBD,205.960000,82.000000,2106.500000,2,1.070000,80.000000,1397.000000,1,5.195184,0.024390,0.336815
387,SPRING CREEK,161.333333,25.000000,3116.000000,3,0.836667,24.666667,2290.333333,3,5.185950,0.013333,0.264976
192,GRANDEL FARMS,146.561333,18.133333,2690.600000,15,0.760000,21.000000,2382.000000,1,5.185542,0.158088,0.114696
345,RILEYWOOD,154.335000,44.500000,1441.500000,2,0.800000,42.000000,1462.000000,1,5.183529,0.056180,0.014221
458,WINDY HILLS,193.024211,57.210526,2334.157895,19,1.000000,36.666667,2682.666667,3,5.180697,0.359092,0.149308
256,LAKE FOREST,162.351456,23.902913,4886.291262,103,0.840000,25.000000,3283.666667,3,5.173960,0.045898,0.327984
71,BROWNSBORO VILLAGE,196.504444,63.555556,1970.222222,9,1.010000,63.500000,2229.000000,2,5.139833,0.000874,0.131344
114,CLIFTON HEIGHTS,178.325000,64.333333,1346.750000,12,0.910000,59.666667,850.000000,3,5.103042,0.072539,0.368851
217,HIGHLAND,201.336000,91.000000,1745.800000,5,1.016667,102.666667,1231.666667,3,5.049602,0.128205,0.294497
135,CROSSCREEKE,185.176667,45.200000,1791.200000,15,0.915000,43.500000,1500.000000,2,4.941227,0.037611,0.162573
72,BROWNSBORO WOODS,158.490000,27.000000,2716.000000,1,0.780000,20.000000,3675.000000,1,4.921446,0.259259,0.353093
269,LONE ACRES,171.802000,48.100000,1461.700000,10,0.830000,48.000000,1676.000000,2,4.831143,0.002079,0.146610
241,INDIAN HILLS,214.246383,58.851064,3991.829787,47,1.022500,53.000000,2544.000000,4,4.772543,0.099422,0.362698
83,CASA LANDA,176.058000,39.800000,1544.000000,5,0.840000,39.500000,1430.000000,2,4.771155,0.007538,0.073834
173,FOREST SPRINGS NORTH,163.760625,18.062500,3064.562500,32,0.770000,18.000000,3493.000000,1,4.701985,0.003460,0.139804
361,SADDLEBROOK,164.260000,23.000000,2879.500000,2,0.760000,21.000000,2564.000000,1,4.626811,0.086957,0.109568
326,PARKWAY TERRACE,166.214286,82.857143,1608.285714,7,0.746667,88.666667,2025.333333,3,4.492193,0.070115,0.259312
340,REGAL HILLS,167.465000,63.000000,2754.000000,2,0.740000,50.000000,2150.000000,1,4.418834,0.206349,0.219317
22,BARBEE HEIGHTS,172.882143,99.214286,1202.071429,14,0.760000,93.500000,1200.000000,2,4.396058,0.057595,0.001723
368,SENECA GARDENS,205.118750,72.875000,2821.000000,8,0.883333,78.333333,1980.000000,3,4.306449,0.074900,0.298121
160,FARMGATE,159.125455,46.454545,2179.090909,11,0.680000,40.000000,2332.000000,1,4.273358,0.138943,0.070171
20,BANCROFT,162.271538,49.230769,2969.153846,13,0.670000,47.000000,3000.000000,1,4.128882,0.045313,0.010389
84,CASTLETON,154.796667,85.333333,2478.333333,3,0.610000,60.000000,1400.000000,1,3.940653,0.296875,0.435104
320,PARISTOWN POINTE,173.187500,96.500000,1636.750000,4,0.665000,110.000000,1518.000000,2,3.839769,0.139896,0.072552
343,RIDGEWOOD,261.700000,70.000000,3696.333333,3,0.930000,60.000000,5008.000000,1,3.553687,0.142857,0.354856
36,BELKNAP,205.442857,57.428571,1858.142857,7,0.660000,80.000000,1500.000000,1,3.212572,0.393035,0.192742
257,LAKE FOREST ESTATES,212.643333,19.777778,6190.111111,9,0.680000,21.000000,5126.000000,1,3.197843,0.061798,0.171905
428,VILLAGE GREEN,134.854000,58.800000,1115.600000,5,0.310000,63.000000,1370.000000,1,2.298782,0.071429,0.228039

*Calculate the same for zip codes*

In [15]:
# creating the calculated file for the Sales data, same as above, but now the groupping is based on zip code

groupped_zip_sales_df = df1.groupby('Zip Code')['Sold Price/SqFt', 'Age', 'SqFt -Total Finished'].mean().rename(columns={
    "Sold Price/SqFt": "Average_Sold_Price", 
    "Age": "Average_Sold_Age", 
    "SqFt -Total Finished": "Average_Sold_SqFt"
})
sales_count = df1.groupby('Zip Code')['Sold Price/SqFt', 'Age', 'SqFt -Total Finished'].size().reset_index(name='sales_count')
groupped_zip_sales_df = pd.merge(groupped_zip_sales_df, sales_count, on="Zip Code")
groupped_zip_sales_df

,Zip Code,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count
0,40023,185.461216,12.945946,3342.162162,74
1,40025,215.135000,18.500000,8858.500000,2
2,40027,182.070000,45.000000,5284.000000,1
3,40056,177.560000,39.000000,1025.000000,1
4,40059,198.714271,20.653247,3353.501299,385
5,40118,121.297800,53.792079,1431.297030,101
6,40177,100.000000,42.000000,2200.000000,1
7,40202,174.878000,86.600000,1340.080000,50
8,40203,107.510174,97.860465,1647.970930,172
9,40204,176.563095,99.276353,1798.578348,351
10,40205,183.054795,75.050000,2154.856818,440
11,40206,169.943024,74.846966,1740.155673,379
12,40207,191.424633,63.482428,2469.720447,626
13,40208,91.341953,99.653846,1595.000000,130
14,40209,60.878571,99.714286,1045.000000,7
15,40210,52.298871,89.579365,1243.150794,126
16,40211,53.871957,80.457447,1432.861702,188
17,40212,45.904387,99.948718,1403.352564,156
18,40213,132.365146,68.493724,1415.711297,239
19,40214,121.743163,55.881384,1777.624382,607
20,40215,88.481913,79.524638,1144.014493,345
21,40216,119.521302,56.898734,1596.825949,632
22,40217,162.765497,92.359736,1368.650165,303
23,40218,122.842364,50.067873,1456.321267,442
24,40219,137.776067,49.505618,1598.647191,445
25,40220,147.678021,48.800347,1835.303819,576
26,40222,163.014538,47.459384,2545.044818,357
27,40223,158.648165,40.009390,2570.307512,426
28,40228,140.241538,29.331565,1853.761273,377
29,40229,139.808883,25.749084,1733.569597,546
30,40241,159.059628,28.127660,2627.599291,564
31,40242,146.969612,46.223301,2114.776699,206
32,40243,149.763160,38.495327,2149.429907,214
33,40245,158.721022,16.401667,3122.317778,900
34,40256,108.630000,33.000000,2257.000000,1
35,40258,130.935383,46.622790,1562.677800,509
36,40272,124.015239,46.822804,1615.178737,649
37,40291,145.657303,27.999298,2107.012640,712
38,40299,154.223729,29.092326,2291.502398,834
39,47231,199.840000,32.000000,2512.000000,1
40,47243,113.552000,38.600000,2134.200000,5
41,47250,91.122273,74.545455,2022.909091,22

In [16]:
# same groupped, calculated file for the Rental data based on zip code

groupped_zip_rental_df = df2.groupby('Zip Code')['List Price/SqFt', 'Age', 'SqFt -Total Finished'].mean().rename(columns={
    "List Price/SqFt": "Average_Rent_Price", 
    "Age": "Average_Rent_Age", 
    "SqFt -Total Finished": "Average_Rent_SqFt"
})


rent_count = df2.groupby('Zip Code')['List Price/SqFt', 'Age', 'SqFt -Total Finished'].size().reset_index(name='rent_count')

groupped_zip_rental_df = pd.merge(groupped_zip_rental_df, rent_count, on="Zip Code")

groupped_zip_rental_df

,Zip Code,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count
0,40023,0.900000,23.000000,2299.400000,5
1,40059,1.177031,16.846154,2223.307692,65
2,40118,1.095000,26.777778,1483.777778,9
3,40155,1.190000,61.500000,550.000000,2
4,40165,1.100000,12.000000,1094.000000,1
5,40202,1.423636,52.227273,1289.363636,22
6,40203,0.933800,94.129630,1262.500000,54
7,40204,2.399145,85.155738,1146.245902,122
8,40205,1.128437,79.367347,1585.448980,98
9,40206,1.167857,59.544974,1016.126984,189
10,40207,1.144745,61.900000,1590.742857,140
11,40208,0.925500,97.850000,1484.700000,40
12,40209,1.020000,119.000000,686.000000,1
13,40210,0.733333,92.888889,1255.555556,9
14,40211,0.700833,81.375000,1341.083333,24
15,40212,0.728000,87.705882,1174.588235,17
16,40213,1.056316,62.631579,1349.210526,19
17,40214,0.961724,61.032787,1196.983607,61
18,40215,0.928780,76.073171,941.024390,41
19,40216,1.004545,54.963636,1287.236364,55
20,40217,1.098205,89.911392,1175.012658,79
21,40218,0.959138,45.051724,1323.879310,58
22,40219,0.965429,34.600000,1507.171429,35
23,40220,1.043333,54.116667,1506.483333,60
24,40222,1.106829,40.804878,2185.658537,41
25,40223,1.053673,38.673469,1776.306122,49
26,40228,1.016316,28.105263,1597.815789,38
27,40229,0.964815,27.363636,1307.036364,55
28,40241,1.058966,28.948276,2191.344828,58
29,40242,1.000000,37.000000,1801.764706,17
30,40243,1.045909,36.782609,1651.086957,23
31,40245,1.020820,21.225806,2238.322581,62
32,40258,1.030959,28.095890,1407.890411,73
33,40272,1.012000,48.400000,1296.400000,40
34,40291,1.042281,38.385965,1527.315789,57
35,40299,1.013529,37.341176,1478.541176,85

In [17]:
# Merge the 2 dataframes and only keep the Zip Codes where there is both sales and rental data available 

subdivision_zip_df = pd.merge(groupped_zip_sales_df, groupped_zip_rental_df, on="Zip Code", how='inner')
subdivision_zip_df

,Zip Code,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count
0,40023,185.461216,12.945946,3342.162162,74,0.900000,23.000000,2299.400000,5
1,40059,198.714271,20.653247,3353.501299,385,1.177031,16.846154,2223.307692,65
2,40118,121.297800,53.792079,1431.297030,101,1.095000,26.777778,1483.777778,9
3,40202,174.878000,86.600000,1340.080000,50,1.423636,52.227273,1289.363636,22
4,40203,107.510174,97.860465,1647.970930,172,0.933800,94.129630,1262.500000,54
5,40204,176.563095,99.276353,1798.578348,351,2.399145,85.155738,1146.245902,122
6,40205,183.054795,75.050000,2154.856818,440,1.128437,79.367347,1585.448980,98
7,40206,169.943024,74.846966,1740.155673,379,1.167857,59.544974,1016.126984,189
8,40207,191.424633,63.482428,2469.720447,626,1.144745,61.900000,1590.742857,140
9,40208,91.341953,99.653846,1595.000000,130,0.925500,97.850000,1484.700000,40
10,40209,60.878571,99.714286,1045.000000,7,1.020000,119.000000,686.000000,1
11,40210,52.298871,89.579365,1243.150794,126,0.733333,92.888889,1255.555556,9
12,40211,53.871957,80.457447,1432.861702,188,0.700833,81.375000,1341.083333,24
13,40212,45.904387,99.948718,1403.352564,156,0.728000,87.705882,1174.588235,17
14,40213,132.365146,68.493724,1415.711297,239,1.056316,62.631579,1349.210526,19
15,40214,121.743163,55.881384,1777.624382,607,0.961724,61.032787,1196.983607,61
16,40215,88.481913,79.524638,1144.014493,345,0.928780,76.073171,941.024390,41
17,40216,119.521302,56.898734,1596.825949,632,1.004545,54.963636,1287.236364,55
18,40217,162.765497,92.359736,1368.650165,303,1.098205,89.911392,1175.012658,79
19,40218,122.842364,50.067873,1456.321267,442,0.959138,45.051724,1323.879310,58
20,40219,137.776067,49.505618,1598.647191,445,0.965429,34.600000,1507.171429,35
21,40220,147.678021,48.800347,1835.303819,576,1.043333,54.116667,1506.483333,60
22,40222,163.014538,47.459384,2545.044818,357,1.106829,40.804878,2185.658537,41
23,40223,158.648165,40.009390,2570.307512,426,1.053673,38.673469,1776.306122,49
24,40228,140.241538,29.331565,1853.761273,377,1.016316,28.105263,1597.815789,38
25,40229,139.808883,25.749084,1733.569597,546,0.964815,27.363636,1307.036364,55
26,40241,159.059628,28.127660,2627.599291,564,1.058966,28.948276,2191.344828,58
27,40242,146.969612,46.223301,2114.776699,206,1.000000,37.000000,1801.764706,17
28,40243,149.763160,38.495327,2149.429907,214,1.045909,36.782609,1651.086957,23
29,40245,158.721022,16.401667,3122.317778,900,1.020820,21.225806,2238.322581,62
30,40258,130.935383,46.622790,1562.677800,509,1.030959,28.095890,1407.890411,73
31,40272,124.015239,46.822804,1615.178737,649,1.012000,48.400000,1296.400000,40
32,40291,145.657303,27.999298,2107.012640,712,1.042281,38.385965,1527.315789,57
33,40299,154.223729,29.092326,2291.502398,834,1.013529,37.341176,1478.541176,85

In [18]:
subdivision_zip_df['rent_sales_ratio'] = pd.eval('subdivision_zip_df.Average_Rent_Price/subdivision_zip_df.Average_Sold_Price')*1000
subdivision_zip_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 10 columns):
Zip Code              34 non-null int64
Average_Sold_Price    34 non-null float64
Average_Sold_Age      34 non-null float64
Average_Sold_SqFt     34 non-null float64
sales_count           34 non-null int64
Average_Rent_Price    34 non-null float64
Average_Rent_Age      34 non-null float64
Average_Rent_SqFt     34 non-null float64
rent_count            34 non-null int64
rent_sales_ratio      34 non-null float64
dtypes: float64(7), int64(3)
memory usage: 2.9 KB

In [19]:
# exclude items from the dataframe where the average SqFt and/or Age of the houses sold are very different (more than 50% higher
# or lower) from the average age and/of SqFt of the rented homes -> the Rental and Sales price comparison is not relevant

subdivision_zip_df['rent_sales_age_percent'] = pd.eval('abs((subdivision_zip_df.Average_Sold_Age-subdivision_zip_df.Average_Rent_Age)/subdivision_zip_df.Average_Sold_Age)')
subdivision_zip_df['rent_sales_SqFt_percent'] = pd.eval('abs((subdivision_zip_df.Average_Sold_SqFt-subdivision_zip_df.Average_Rent_SqFt)/subdivision_zip_df.Average_Sold_SqFt)')
subdivision1_zip_df = subdivision_zip_df.drop(subdivision_zip_df[subdivision_zip_df['rent_sales_age_percent'] > .5].index)
reduced_subdivision_zip_df = subdivision1_zip_df.drop(subdivision1_zip_df[subdivision1_zip_df['rent_sales_SqFt_percent'] > .5].index)
reduced_subdivision_zip_df

,Zip Code,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count,rent_sales_ratio,rent_sales_age_percent,rent_sales_SqFt_percent
1,40059,198.714271,20.653247,3353.501299,385,1.177031,16.846154,2223.307692,65,5.923235,0.184334,0.337019
3,40202,174.878000,86.600000,1340.080000,50,1.423636,52.227273,1289.363636,22,8.140740,0.396914,0.037846
4,40203,107.510174,97.860465,1647.970930,172,0.933800,94.129630,1262.500000,54,8.685690,0.038124,0.233906
5,40204,176.563095,99.276353,1798.578348,351,2.399145,85.155738,1146.245902,122,13.588034,0.142235,0.362693
6,40205,183.054795,75.050000,2154.856818,440,1.128437,79.367347,1585.448980,98,6.164479,0.057526,0.264244
7,40206,169.943024,74.846966,1740.155673,379,1.167857,59.544974,1016.126984,189,6.872051,0.204444,0.416071
8,40207,191.424633,63.482428,2469.720447,626,1.144745,61.900000,1590.742857,140,5.980132,0.024927,0.355902
9,40208,91.341953,99.653846,1595.000000,130,0.925500,97.850000,1484.700000,40,10.132255,0.018101,0.069154
10,40209,60.878571,99.714286,1045.000000,7,1.020000,119.000000,686.000000,1,16.754664,0.193410,0.343541
11,40210,52.298871,89.579365,1243.150794,126,0.733333,92.888889,1255.555556,9,14.021973,0.036945,0.009978
12,40211,53.871957,80.457447,1432.861702,188,0.700833,81.375000,1341.083333,24,13.009242,0.011404,0.064052
13,40212,45.904387,99.948718,1403.352564,156,0.728000,87.705882,1174.588235,17,15.859051,0.122491,0.163013
14,40213,132.365146,68.493724,1415.711297,239,1.056316,62.631579,1349.210526,19,7.980317,0.085587,0.046973
15,40214,121.743163,55.881384,1777.624382,607,0.961724,61.032787,1196.983607,61,7.899615,0.092185,0.326639
16,40215,88.481913,79.524638,1144.014493,345,0.928780,76.073171,941.024390,41,10.496840,0.043401,0.177437
17,40216,119.521302,56.898734,1596.825949,632,1.004545,54.963636,1287.236364,55,8.404740,0.034010,0.193878
18,40217,162.765497,92.359736,1368.650165,303,1.098205,89.911392,1175.012658,79,6.747162,0.026509,0.141481
19,40218,122.842364,50.067873,1456.321267,442,0.959138,45.051724,1323.879310,58,7.807876,0.100187,0.090943
20,40219,137.776067,49.505618,1598.647191,445,0.965429,34.600000,1507.171429,35,7.007230,0.301089,0.057221
21,40220,147.678021,48.800347,1835.303819,576,1.043333,54.116667,1506.483333,60,7.064920,0.108940,0.179164
22,40222,163.014538,47.459384,2545.044818,357,1.106829,40.804878,2185.658537,41,6.789758,0.140215,0.141210
23,40223,158.648165,40.009390,2570.307512,426,1.053673,38.673469,1776.306122,49,6.641574,0.033390,0.308913
24,40228,140.241538,29.331565,1853.761273,377,1.016316,28.105263,1597.815789,38,7.246896,0.041808,0.138068
25,40229,139.808883,25.749084,1733.569597,546,0.964815,27.363636,1307.036364,55,6.900955,0.062703,0.246043
26,40241,159.059628,28.127660,2627.599291,564,1.058966,28.948276,2191.344828,58,6.657664,0.029175,0.166028
27,40242,146.969612,46.223301,2114.776699,206,1.000000,37.000000,1801.764706,17,6.804128,0.199538,0.148012
28,40243,149.763160,38.495327,2149.429907,214,1.045909,36.782609,1651.086957,23,6.983754,0.044492,0.231849
29,40245,158.721022,16.401667,3122.317778,900,1.020820,21.225806,2238.322581,62,6.431534,0.294125,0.283121
30,40258,130.935383,46.622790,1562.677800,509,1.030959,28.095890,1407.890411,73,7.873799,0.397379,0.099053
31,40272,124.015239,46.822804,1615.178737,649,1.012000,48.400000,1296.400000,40,8.160287,0.033684,0.197364
32,40291,145.657303,27.999298,2107.012640,712,1.042281,38.385965,1527.315789,57,7.155705,0.370962,0.275127
33,40299,154.223729,29.092326,2291.502398,834,1.013529,37.341176,1478.541176,85,6.571812,0.283540,0.354772