In [1]:
# placeholder jupyter notebook for the final project

In [2]:
import os

import pandas as pd
import numpy as np

# Assign spreadsheet filename to 'file'
Sales_file = 'Louisville Sales.xlsx'

# Load spreadsheet
salesxl = pd.ExcelFile(Sales_file)

# Print the sheet names
print(salesxl.sheet_names)

['sheet1']

In [3]:
# Load a sheet into a DataFrame by name: df1
df1 = salesxl.parse('sheet1')

Rent_file = 'Rental data.xlsx'
rentxl = pd.ExcelFile(Rent_file)
print(rentxl.sheet_names)

['sheet1']

In [4]:
df2 = rentxl.parse('sheet1')

# writer = pd.ExcelWriter('practice.xlsx', engine='xlsxwriter')
# df2.to_excel(writer, 'Sheet1')
# writer.save()

In [5]:
df1.head()

,List Number,Book Section,Property Sub Type,Listing Date,Sold Date,Contract Acceptance Date,Original List Price,Listing Price,Sold Price,Area,...,End Date,HOA Y/N,Stories,# Upper Floor Bedrooms,First Floor Laundry,Monthly Maintenance,Seller Concessions,HOA Annual $,Closing Costs and Prepaids,Days on Market
0,1573919,Single Family Residence,SF,2020-11-12,2020-12-30,2020-12-18,189950.0,189950.0,189900.0,5,...,2021-05-12,Y,1,0,N,NaN,Y,400.0,4600.0,36
1,1572930,Single Family Residence,SF,2020-10-30,2020-12-31,2020-11-13,184900.0,182900.0,175000.0,5,...,2021-10-30,N,1,0,Y,NaN,N,0.0,NaN,14
2,1574676,Single Family Residence,SF,2020-11-02,2020-11-20,2020-11-02,290000.0,290000.0,290000.0,9,...,2020-11-30,N,1,0,N,NaN,N,0.0,NaN,0
3,1574083,Condominium,CP,2020-11-16,2021-01-08,2020-12-21,69900.0,67000.0,62000.0,3,...,2021-02-15,Y,1,0,N,NaN,N,3153.0,NaN,35
4,1572788,Condominium,CP,2020-10-29,2020-11-30,2020-10-30,115000.0,115000.0,115000.0,7,...,2021-04-29,Y,1,0,Y,NaN,N,2328.0,NaN,1

In [6]:
# calculating subdivision level average price per sqft and average age and average size for both rental and sales

groupped_sales_df = df1.groupby('Subdivision/Condo')['Sold Price/SqFt', 'Age', 'SqFt -Total Finished'].mean().rename(columns={
    "Sold Price/SqFt": "Average_Sold_Price", 
    "Age": "Average_Sold_Age", 
    "SqFt -Total Finished": "Average_Sold_SqFt"
})

sales_count = df1.groupby('Subdivision/Condo')['Sold Price/SqFt', 'Age', 'SqFt -Total Finished'].size().reset_index(name='sales_count')
groupped_sales_df = pd.merge(groupped_sales_df, sales_count, on="Subdivision/Condo")
groupped_sales_df

,Subdivision/Condo,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count
0,1400 Willow,335.096667,40.000000,2584.666667,3
1,2000 SPRING CONDOMIN,51.030000,64.000000,1113.000000,1
2,550 LOFTS,189.930000,97.000000,1211.000000,1
3,ABBEY WOODS,131.650000,24.500000,1871.500000,2
4,ABERDEEN,208.615714,79.214286,2469.500000,14
5,ACADEMY ESTATES,189.814000,6.400000,3964.800000,5
6,ACADEMY RIDGE,144.336667,16.666667,2128.333333,3
7,ACADEMY RIDGE AT LANDIS LAKE,145.187500,17.250000,2661.500000,4
8,ADAMS HILL,102.107500,41.750000,1174.000000,4
9,ADAMS RUN,117.815000,18.045455,2193.500000,22
10,AGARS,150.960000,29.000000,2377.000000,1
11,AIRVIEW,154.500000,70.000000,1255.000000,1
12,ALANMEADE,196.160000,70.500000,1921.500000,2
13,ALBERT C DICK CONDOMINIUMS,185.000000,45.000000,3100.000000,1
14,ALFRESCO PLACE,211.736667,98.333333,3281.000000,3
15,ALGONQUIN GARDEN,66.870000,61.000000,1944.000000,1
16,ALGONQUIN PARKWAY,66.643333,75.000000,1568.333333,3
17,ALGONQUIN PLACE,65.457273,68.090909,1252.272727,11
18,ALHAMBRA HEIGHTS,201.675714,74.285714,2480.142857,7
19,ALLEN HEIGHTS,150.220000,22.000000,1831.500000,2
20,ALLSTON,164.222500,77.000000,1236.750000,4
21,ALPHA GARDENS,103.210000,49.000000,1182.000000,1
22,ALTA VISTA,153.835000,46.000000,5449.000000,2
23,ALTA VISTA TERRACE,227.260000,38.000000,4755.000000,1
24,AMBASSADOR EAST,95.185000,42.000000,2176.750000,4
25,AMHERST SEC 1,191.440000,80.000000,2860.000000,1
26,AMHURST,189.393333,80.666667,2130.666667,3
27,ANCHOR ESTATES,196.762500,40.500000,3877.750000,4
28,ANCHORAGE,206.417586,63.793103,4508.310345,29
29,ANCHORAGE PIKE,156.790000,33.000000,1722.000000,1
...,...,...,...,...,...
1964,WOODS OF FOX RUN,167.020000,14.000000,4702.000000,1
1965,WOODS OF GLENMARY,128.961429,18.000000,1756.285714,7
1966,WOODS OF LANDIS LAKES,158.039000,16.800000,3950.000000,10
1967,WOODS OF PENN RUN,115.933750,2.375000,2367.375000,8
1968,WOODS OF ST ANDREWS,122.890909,13.000000,1533.181818,11
1969,WOODS OF ST THOMAS,160.355833,28.083333,4079.666667,12
1970,WOODSIDE,150.090000,49.000000,3575.000000,1
1971,WOODSIDE ACRES,184.700000,65.000000,1774.000000,2
1972,WOODSIDE PARK,164.270000,60.000000,2192.000000,1
1973,WOODSIDE POINTE,180.790000,18.000000,3766.000000,2
1974,WOODSPOINTE,100.805000,40.000000,2412.000000,2
1975,WOODSTOCK,172.010000,59.000000,1950.000000,1
1976,WOODSTONE,152.615000,26.000000,5211.500000,2
1977,WOODWAY,53.295000,65.000000,860.000000,2
1978,WORTHINGTON GLEN,134.526000,21.900000,1178.350000,20
1979,WORTHINGTON HILLS,170.230556,37.722222,1413.666667,18
1980,WORTHINGTON PLACE,150.517333,15.533333,1975.600000,15
1981,WYANDOTTE,97.630000,80.800000,828.400000,5
1982,WYNDEMERE,135.578333,14.833333,1681.500000,6
1983,WYNDHAM PLACE,138.692500,23.000000,3257.000000,4
1984,WYNDOVER HILLS,131.466207,0.000000,2781.103448,29
1985,YORKSHIRE,170.010000,64.600000,1348.800000,5
1986,YORKSHIRE SUB,136.430000,69.000000,1356.000000,1
1987,YORKTOWN,139.467500,51.000000,1547.500000,4
1988,YORKTOWN NORTH,135.105385,32.769231,3068.461538,13
1989,YORKTOWN SOUTH,132.605000,26.000000,1873.000000,4
1990,YORKWOOD,134.980000,40.000000,1230.400000,5
1991,YOUNG ACRES,137.220000,65.000000,1494.000000,1
1992,ZACHARY TAYLOR,145.171957,79.956522,1392.065217,46
1993,ZELMA FIELDS,165.912500,51.125000,1791.750000,16

In [7]:
groupped_rental_df = df2.groupby('Subdivision/Condo')['List Price/SqFt', 'Age', 'SqFt -Total Finished'].mean().rename(columns={
    "List Price/SqFt": "Average_Rent_Price", 
    "Age": "Average_Rent_Age", 
    "SqFt -Total Finished": "Average_Rent_SqFt"
})


rent_count = df2.groupby('Subdivision/Condo')['List Price/SqFt', 'Age', 'SqFt -Total Finished'].size().reset_index(name='rent_count')

groupped_rental_df = pd.merge(groupped_rental_df, rent_count, on="Subdivision/Condo")

groupped_rental_df

,Subdivision/Condo,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count
0,2000 SPRING CONDOMIN,1.030000,102.000000,1600.000000,1
1,ABERDEEN,1.155000,74.000000,1873.000000,2
2,ACADEMY RIDGE,0.894000,15.600000,2535.200000,5
3,ACADEMY RIDGE AT LANDIS LAKE,1.000000,17.000000,2030.000000,1
4,ACADEMY RIDGE ESTATES,0.830000,18.000000,1900.000000,2
5,ADAMS RUN,0.890000,18.000000,1998.666667,3
6,AIRVIEW,0.907143,60.428571,835.000000,7
7,ALGONQUIN PLACE,0.680000,65.000000,1025.000000,1
8,ALHAMBRA HEIGHTS,1.300000,70.500000,1653.500000,2
9,ALIA,0.880000,21.000000,5030.000000,1
10,ALLSTON,1.000000,69.500000,1150.000000,2
11,ALPHA GARDENS,0.760000,52.000000,2495.000000,1
12,ALTA VISTA,1.210000,50.000000,4789.000000,1
13,AMHURST,0.970000,77.000000,1295.000000,1
14,ANCHORAGE,1.095000,47.833333,3816.166667,6
15,ANCHORAGE PIKE,1.240000,34.000000,1676.000000,3
16,APPLE VALLEY,0.855455,31.000000,1414.000000,11
17,ARBOR CREEK,0.973333,4.333333,1271.333333,3
18,ARLINGTON,1.364000,77.000000,2036.000000,5
19,ARLINGTON MEADOWS,0.940000,7.500000,3391.000000,2
20,ASBURY PARK,0.990000,13.000000,2529.000000,1
21,ASH,NaN,37.000000,850.000000,1
22,ASHBY ACRES,0.965000,61.500000,1166.500000,2
23,ASHLEY PLACE,0.710000,20.000000,2250.000000,1
24,AUBURN,1.016667,70.000000,720.000000,3
25,AUDUBON PARK,1.067500,72.000000,2042.250000,4
26,AUDUBON WOODS,1.300000,10.333333,2243.000000,3
27,AUSTIN WOODS,1.062000,14.666667,1556.500000,6
28,AVALON,1.140000,79.000000,3000.000000,1
29,BANCROFT,0.895000,44.500000,3063.500000,4
...,...,...,...,...,...
779,WOLF PEN WOODS,0.700000,13.000000,4039.000000,1
780,WOLF TRACE,0.922857,17.000000,2331.285714,14
781,WOLFCREEK,1.010000,26.000000,3673.000000,1
782,WOODBOURNE,1.150000,96.000000,2270.000000,1
783,WOODBOURNE HEIGHTS,1.450000,94.000000,962.000000,1
784,WOODCROFT,0.970000,45.000000,1658.000000,1
785,WOODFIELD COMMONS,0.866000,14.200000,1287.800000,5
786,WOODLAND,0.860000,71.000000,2900.000000,1
787,WOODLAND HILLS,1.072000,51.700000,1739.900000,10
788,WOODLAND MANOR,1.210000,55.000000,1026.000000,1
789,WOODLANDS CREEK,0.860000,10.000000,2143.000000,1
790,WOODLAWN,1.250000,30.000000,1565.000000,1
791,WOODLAWN PARK,1.245000,48.666667,1393.666667,6
792,WOODMONT,1.150000,20.000000,4290.000000,1
793,WOODRIDGE LAKE,1.182500,15.750000,1460.250000,4
794,WOODROW MANOR,0.800000,56.000000,3071.000000,1
795,WOODS OF LANDIS LAKES,1.000000,10.000000,2300.000000,1
796,WOODS OF ST ANDREWS,0.850000,7.500000,1034.000000,4
797,WOODS OF ST THOMAS,0.970000,26.000000,3783.000000,1
798,WOODSIDE ACRES,0.810000,63.000000,2325.000000,1
799,WORTHINGTON GLEN,0.923636,18.454545,1303.636364,11
800,WORTHINGTON HILLS,1.470000,41.500000,1290.000000,2
801,WORTHINGTON PLACE,0.953333,12.500000,1967.166667,6
802,WYANDOTTE,0.710000,84.000000,1891.500000,2
803,WYNDEMERE,1.073333,13.666667,1248.333333,3
804,YORKSHIRE,0.980000,69.000000,1466.000000,2
805,YORKTOWN,0.990000,36.000000,907.000000,1
806,YORKTOWN NORTH,1.140000,32.000000,3100.000000,1
807,YORKWOOD,1.110000,32.000000,900.000000,1
808,ZACHARY TAYLOR,1.120000,80.500000,1373.500000,2

In [8]:
# Merge the 2 dataframes and only keep the subdivisions where there is both sales and rental data available 

subdivision_df = pd.merge(groupped_sales_df, groupped_rental_df, on="Subdivision/Condo", how='inner')
subdivision_df

,Subdivision/Condo,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count
0,2000 SPRING CONDOMIN,51.030000,64.000000,1113.000000,1,1.030000,102.000000,1600.000000,1
1,ABERDEEN,208.615714,79.214286,2469.500000,14,1.155000,74.000000,1873.000000,2
2,ACADEMY RIDGE,144.336667,16.666667,2128.333333,3,0.894000,15.600000,2535.200000,5
3,ACADEMY RIDGE AT LANDIS LAKE,145.187500,17.250000,2661.500000,4,1.000000,17.000000,2030.000000,1
4,ADAMS RUN,117.815000,18.045455,2193.500000,22,0.890000,18.000000,1998.666667,3
5,AIRVIEW,154.500000,70.000000,1255.000000,1,0.907143,60.428571,835.000000,7
6,ALGONQUIN PLACE,65.457273,68.090909,1252.272727,11,0.680000,65.000000,1025.000000,1
7,ALHAMBRA HEIGHTS,201.675714,74.285714,2480.142857,7,1.300000,70.500000,1653.500000,2
8,ALLSTON,164.222500,77.000000,1236.750000,4,1.000000,69.500000,1150.000000,2
9,ALPHA GARDENS,103.210000,49.000000,1182.000000,1,0.760000,52.000000,2495.000000,1
10,ALTA VISTA,153.835000,46.000000,5449.000000,2,1.210000,50.000000,4789.000000,1
11,AMHURST,189.393333,80.666667,2130.666667,3,0.970000,77.000000,1295.000000,1
12,ANCHORAGE,206.417586,63.793103,4508.310345,29,1.095000,47.833333,3816.166667,6
13,ANCHORAGE PIKE,156.790000,33.000000,1722.000000,1,1.240000,34.000000,1676.000000,3
14,APPLE VALLEY,142.089231,34.846154,2302.307692,13,0.855455,31.000000,1414.000000,11
15,ARBOR CREEK,117.500714,14.357143,1381.714286,14,0.973333,4.333333,1271.333333,3
16,ARLINGTON,202.191429,78.714286,1874.857143,7,1.364000,77.000000,2036.000000,5
17,ARLINGTON MEADOWS,136.493333,10.500000,2708.500000,18,0.940000,7.500000,3391.000000,2
18,ASBURY PARK,176.115000,16.250000,4489.500000,4,0.990000,13.000000,2529.000000,1
19,ASH,164.840000,37.000000,4300.000000,1,NaN,37.000000,850.000000,1
20,ASHBY ACRES,122.890000,62.000000,1391.000000,3,0.965000,61.500000,1166.500000,2
21,ASHLEY PLACE,179.790000,22.000000,2451.500000,2,0.710000,20.000000,2250.000000,1
22,AUDUBON PARK,168.682581,79.451613,2164.000000,31,1.067500,72.000000,2042.250000,4
23,AUDUBON WOODS,174.636667,12.333333,1968.333333,3,1.300000,10.333333,2243.000000,3
24,AUSTIN WOODS,136.005000,16.000000,1754.000000,6,1.062000,14.666667,1556.500000,6
25,BANCROFT,162.271538,49.230769,2969.153846,13,0.895000,44.500000,3063.500000,4
26,BANNON CROSSINGS,128.710000,11.750000,1977.000000,8,0.760000,10.500000,2776.000000,2
27,BARBEE HEIGHTS,172.882143,99.214286,1202.071429,14,0.760000,93.500000,1200.000000,2
28,BARBOUR MANOR,130.780000,43.555556,2585.444444,9,0.930000,40.000000,2847.000000,1
29,BARBOURMEADE,151.310909,141.227273,2656.000000,22,0.780000,55.000000,1909.000000,1
...,...,...,...,...,...,...,...,...,...
667,WOLF PEN WOODS,178.856250,21.750000,4269.125000,8,0.700000,13.000000,4039.000000,1
668,WOLF TRACE,153.342857,19.000000,2248.142857,7,0.922857,17.000000,2331.285714,14
669,WOLFCREEK,150.935833,27.500000,4686.750000,12,1.010000,26.000000,3673.000000,1
670,WOODBOURNE,187.325714,91.714286,2086.714286,7,1.150000,96.000000,2270.000000,1
671,WOODBOURNE HEIGHTS,197.295000,90.000000,2470.250000,4,1.450000,94.000000,962.000000,1
672,WOODCROFT,144.697500,46.000000,2293.250000,4,0.970000,45.000000,1658.000000,1
673,WOODFIELD COMMONS,139.730000,18.800000,1172.800000,5,0.866000,14.200000,1287.800000,5
674,WOODLAND,146.510000,90.800000,2247.200000,5,0.860000,71.000000,2900.000000,1
675,WOODLAND HILLS,161.714000,53.300000,1895.800000,10,1.072000,51.700000,1739.900000,10
676,WOODLAND MANOR,130.965333,54.666667,1223.533333,15,1.210000,55.000000,1026.000000,1
677,WOODLANDS CREEK,134.890000,7.166667,2892.166667,6,0.860000,10.000000,2143.000000,1
678,WOODLAWN,177.625000,66.000000,2724.500000,2,1.250000,30.000000,1565.000000,1
679,WOODLAWN PARK,172.327333,56.933333,1876.600000,15,1.245000,48.666667,1393.666667,6
680,WOODMONT,149.123810,23.285714,3080.095238,21,1.150000,20.000000,4290.000000,1
681,WOODRIDGE LAKE,128.363333,14.555556,1664.000000,18,1.182500,15.750000,1460.250000,4
682,WOODROW MANOR,154.775000,57.333333,1953.000000,6,0.800000,56.000000,3071.000000,1
683,WOODS OF LANDIS LAKES,158.039000,16.800000,3950.000000,10,1.000000,10.000000,2300.000000,1
684,WOODS OF ST ANDREWS,122.890909,13.000000,1533.181818,11,0.850000,7.500000,1034.000000,4
685,WOODS OF ST THOMAS,160.355833,28.083333,4079.666667,12,0.970000,26.000000,3783.000000,1
686,WOODSIDE ACRES,184.700000,65.000000,1774.000000,2,0.810000,63.000000,2325.000000,1
687,WORTHINGTON GLEN,134.526000,21.900000,1178.350000,20,0.923636,18.454545,1303.636364,11
688,WORTHINGTON HILLS,170.230556,37.722222,1413.666667,18,1.470000,41.500000,1290.000000,2
689,WORTHINGTON PLACE,150.517333,15.533333,1975.600000,15,0.953333,12.500000,1967.166667,6
690,WYANDOTTE,97.630000,80.800000,828.400000,5,0.710000,84.000000,1891.500000,2
691,WYNDEMERE,135.578333,14.833333,1681.500000,6,1.073333,13.666667,1248.333333,3
692,YORKSHIRE,170.010000,64.600000,1348.800000,5,0.980000,69.000000,1466.000000,2
693,YORKTOWN,139.467500,51.000000,1547.500000,4,0.990000,36.000000,907.000000,1
694,YORKTOWN NORTH,135.105385,32.769231,3068.461538,13,1.140000,32.000000,3100.000000,1
695,YORKWOOD,134.980000,40.000000,1230.400000,5,1.110000,32.000000,900.000000,1
696,ZACHARY TAYLOR,145.171957,79.956522,1392.065217,46,1.120000,80.500000,1373.500000,2

In [9]:
subdivision_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 697 entries, 0 to 696
Data columns (total 9 columns):
Subdivision/Condo     697 non-null object
Average_Sold_Price    697 non-null float64
Average_Sold_Age      697 non-null float64
Average_Sold_SqFt     697 non-null float64
sales_count           697 non-null int64
Average_Rent_Price    693 non-null float64
Average_Rent_Age      697 non-null float64
Average_Rent_SqFt     697 non-null float64
rent_count            697 non-null int64
dtypes: float64(6), int64(2), object(1)
memory usage: 54.5+ KB

In [14]:
subdivision_df['rent_sales_ratio'] = pd.eval('subdivision_df.Average_Rent_Price/subdivision_df.Average_Sold_Price')*1000
subdivision_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 697 entries, 0 to 696
Data columns (total 10 columns):
Subdivision/Condo     697 non-null object
Average_Sold_Price    697 non-null float64
Average_Sold_Age      697 non-null float64
Average_Sold_SqFt     697 non-null float64
sales_count           697 non-null int64
Average_Rent_Price    693 non-null float64
Average_Rent_Age      697 non-null float64
Average_Rent_SqFt     697 non-null float64
rent_count            697 non-null int64
rent_sales_ratio      693 non-null float64
dtypes: float64(7), int64(2), object(1)
memory usage: 59.9+ KB

In [30]:
# exclude items from the dataframe where the average SqFt and/or Age of the houses sold are very different (more than 30% higher
# or lower) from the average age and/of SqFt of the rented homes -> the Rental and Sales price comparison is not relevant

subdivision_df['rent_sales_age_percent'] = pd.eval('abs((subdivision_df.Average_Sold_Age-subdivision_df.Average_Rent_Age)/subdivision_df.Average_Sold_Age)')
subdivision_df['rent_sales_SqFt_percent'] = pd.eval('abs((subdivision_df.Average_Sold_SqFt-subdivision_df.Average_Rent_SqFt)/subdivision_df.Average_Sold_SqFt)')
subdivision1_df = subdivision_df.drop(subdivision_df[subdivision_df['rent_sales_age_percent'] > .3].index)
reduced_subdivision_df = subdivision1_df.drop(subdivision1_df[subdivision1_df['rent_sales_SqFt_percent'] > .3].index)
reduced_subdivision_df

,Subdivision/Condo,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count,rent_sales_ratio,rent_sales_age_percent,rent_sales_SqFt_percent
1,ABERDEEN,208.615714,79.214286,2469.500000,14,1.155000,74.000000,1873.000000,2,5.536496,0.065825,0.241547
2,ACADEMY RIDGE,144.336667,16.666667,2128.333333,3,0.894000,15.600000,2535.200000,5,6.193852,0.064000,0.191167
3,ACADEMY RIDGE AT LANDIS LAKE,145.187500,17.250000,2661.500000,4,1.000000,17.000000,2030.000000,1,6.887645,0.014493,0.237272
4,ADAMS RUN,117.815000,18.045455,2193.500000,22,0.890000,18.000000,1998.666667,3,7.554216,0.002519,0.088823
6,ALGONQUIN PLACE,65.457273,68.090909,1252.272727,11,0.680000,65.000000,1025.000000,1,10.388456,0.045394,0.181488
8,ALLSTON,164.222500,77.000000,1236.750000,4,1.000000,69.500000,1150.000000,2,6.089300,0.097403,0.070144
10,ALTA VISTA,153.835000,46.000000,5449.000000,2,1.210000,50.000000,4789.000000,1,7.865570,0.086957,0.121123
12,ANCHORAGE,206.417586,63.793103,4508.310345,29,1.095000,47.833333,3816.166667,6,5.304781,0.250180,0.153526
13,ANCHORAGE PIKE,156.790000,33.000000,1722.000000,1,1.240000,34.000000,1676.000000,3,7.908668,0.030303,0.026713
16,ARLINGTON,202.191429,78.714286,1874.857143,7,1.364000,77.000000,2036.000000,5,6.746082,0.021779,0.085949
17,ARLINGTON MEADOWS,136.493333,10.500000,2708.500000,18,0.940000,7.500000,3391.000000,2,6.886783,0.285714,0.251984
20,ASHBY ACRES,122.890000,62.000000,1391.000000,3,0.965000,61.500000,1166.500000,2,7.852551,0.008065,0.161395
21,ASHLEY PLACE,179.790000,22.000000,2451.500000,2,0.710000,20.000000,2250.000000,1,3.949052,0.090909,0.082195
22,AUDUBON PARK,168.682581,79.451613,2164.000000,31,1.067500,72.000000,2042.250000,4,6.328454,0.093788,0.056262
23,AUDUBON WOODS,174.636667,12.333333,1968.333333,3,1.300000,10.333333,2243.000000,3,7.444027,0.162162,0.139543
24,AUSTIN WOODS,136.005000,16.000000,1754.000000,6,1.062000,14.666667,1556.500000,6,7.808536,0.083333,0.112600
25,BANCROFT,162.271538,49.230769,2969.153846,13,0.895000,44.500000,3063.500000,4,5.515447,0.096094,0.031775
27,BARBEE HEIGHTS,172.882143,99.214286,1202.071429,14,0.760000,93.500000,1200.000000,2,4.396058,0.057595,0.001723
28,BARBOUR MANOR,130.780000,43.555556,2585.444444,9,0.930000,40.000000,2847.000000,1,7.111179,0.081633,0.101165
32,BARNARD HALL,230.690000,33.000000,5466.000000,1,1.430000,33.000000,5466.000000,1,6.198795,0.000000,0.000000
33,BAXTER LOOP CONDOMIN,169.442000,74.600000,685.200000,5,1.540000,75.000000,681.000000,1,9.088656,0.005362,0.006130
34,BAXTER PLACE,126.890000,15.000000,993.000000,1,1.085000,16.500000,966.500000,2,8.550713,0.100000,0.026687
35,BAY COLONY,157.321111,27.666667,1227.555556,9,1.045000,28.000000,1527.000000,2,6.642465,0.012048,0.243936
36,BAY TREE,133.494615,20.461538,1761.923077,13,1.011250,18.125000,1758.875000,8,7.575212,0.114192,0.001730
37,BAYBERRY CONDOS,62.300000,35.000000,915.000000,1,0.840000,35.000000,1011.000000,1,13.483146,0.000000,0.104918
46,BELKNAP,205.442857,57.428571,1858.142857,7,1.006000,55.400000,1537.600000,5,4.896739,0.035323,0.172507
47,BELLEMEADE,169.381250,62.000000,2254.875000,8,1.130000,64.666667,1859.000000,3,6.671341,0.043011,0.175564
48,BELLEWOOD,190.961429,75.285714,2061.571429,7,1.225000,69.500000,1790.000000,2,6.414908,0.076850,0.131730
53,BIRCHWOOD CROSSINGS,144.850000,59.500000,1007.500000,2,1.200000,55.000000,1000.000000,1,8.284432,0.075630,0.007444
57,BON AIR,148.695714,69.714286,1564.714286,7,1.037500,65.375000,1196.375000,8,6.977336,0.062244,0.235404
...,...,...,...,...,...,...,...,...,...,...,...,...
647,WILDER ESTATES,176.840000,58.000000,2538.000000,2,1.172500,55.750000,2193.500000,4,6.630287,0.038793,0.135737
648,WILDER PARK,106.026818,85.909091,1210.409091,22,0.836429,87.071429,1003.357143,14,7.888840,0.013530,0.171059
649,WILDWOOD,155.717778,59.555556,1966.777778,9,0.865000,48.000000,1510.500000,2,5.554921,0.194030,0.231993
650,WILDWOOD CONDOMINIUMS,81.375833,41.250000,948.000000,12,0.728000,36.800000,1169.800000,5,8.946145,0.107879,0.233966
652,WILLOW CREEK,149.061429,45.000000,1362.214286,14,1.027500,40.000000,1036.250000,4,6.893131,0.111111,0.239290
656,WINDHURST,172.984000,43.200000,2098.400000,5,1.170000,50.000000,2350.000000,1,6.763631,0.157407,0.119901
657,WINDHURST ACRES,170.993750,40.375000,2068.750000,8,0.773333,34.000000,1725.000000,3,4.522582,0.157895,0.166163
659,WINDSOR GATE,124.949333,25.066667,1159.600000,15,0.770000,20.000000,1169.000000,2,6.162498,0.202128,0.008106
661,WINDSOR PLACE,134.487778,54.555556,1454.777778,9,0.911667,46.666667,1037.333333,6,6.778807,0.144603,0.286947
662,WINDWOOD,154.294000,19.400000,2065.200000,5,0.973333,17.666667,1896.666667,3,6.308303,0.089347,0.081606
665,WISTERIA LANDING,103.377143,47.000000,978.857143,14,0.915000,40.500000,993.500000,2,8.851086,0.138298,0.014959
668,WOLF TRACE,153.342857,19.000000,2248.142857,7,0.922857,17.000000,2331.285714,14,6.018260,0.105263,0.036983
669,WOLFCREEK,150.935833,27.500000,4686.750000,12,1.010000,26.000000,3673.000000,1,6.691585,0.054545,0.216301
670,WOODBOURNE,187.325714,91.714286,2086.714286,7,1.150000,96.000000,2270.000000,1,6.139040,0.046729,0.087835
672,WOODCROFT,144.697500,46.000000,2293.250000,4,0.970000,45.000000,1658.000000,1,6.703640,0.021739,0.277009
673,WOODFIELD COMMONS,139.730000,18.800000,1172.800000,5,0.866000,14.200000,1287.800000,5,6.197667,0.244681,0.098056
674,WOODLAND,146.510000,90.800000,2247.200000,5,0.860000,71.000000,2900.000000,1,5.869906,0.218062,0.290495
675,WOODLAND HILLS,161.714000,53.300000,1895.800000,10,1.072000,51.700000,1739.900000,10,6.628987,0.030019,0.082234
676,WOODLAND MANOR,130.965333,54.666667,1223.533333,15,1.210000,55.000000,1026.000000,1,9.239086,0.006098,0.161445
679,WOODLAWN PARK,172.327333,56.933333,1876.600000,15,1.245000,48.666667,1393.666667,6,7.224623,0.145199,0.257345
681,WOODRIDGE LAKE,128.363333,14.555556,1664.000000,18,1.182500,15.750000,1460.250000,4,9.212132,0.082061,0.122446
685,WOODS OF ST THOMAS,160.355833,28.083333,4079.666667,12,0.970000,26.000000,3783.000000,1,6.049047,0.074184,0.072718
687,WORTHINGTON GLEN,134.526000,21.900000,1178.350000,20,0.923636,18.454545,1303.636364,11,6.865858,0.157327,0.106324
688,WORTHINGTON HILLS,170.230556,37.722222,1413.666667,18,1.470000,41.500000,1290.000000,2,8.635347,0.100147,0.087479
689,WORTHINGTON PLACE,150.517333,15.533333,1975.600000,15,0.953333,12.500000,1967.166667,6,6.333711,0.195279,0.004269
691,WYNDEMERE,135.578333,14.833333,1681.500000,6,1.073333,13.666667,1248.333333,3,7.916703,0.078652,0.257607
692,YORKSHIRE,170.010000,64.600000,1348.800000,5,0.980000,69.000000,1466.000000,2,5.764367,0.068111,0.086892
694,YORKTOWN NORTH,135.105385,32.769231,3068.461538,13,1.140000,32.000000,3100.000000,1,8.437858,0.023474,0.010278
695,YORKWOOD,134.980000,40.000000,1230.400000,5,1.110000,32.000000,900.000000,1,8.223441,0.200000,0.268531
696,ZACHARY TAYLOR,145.171957,79.956522,1392.065217,46,1.120000,80.500000,1373.500000,2,7.714989,0.006797,0.013336

In [31]:
# show the subdivisions with the highest rent(per sqft)/sales(per sqft) ratio -> where you get the most bang for your buck
# if investing in a rental property

sorted_subdivision_df = reduced_subdivision_df.sort_values(['rent_sales_ratio'], ascending=False)
sorted_subdivision_df

,Subdivision/Condo,Average_Sold_Price,Average_Sold_Age,Average_Sold_SqFt,sales_count,Average_Rent_Price,Average_Rent_Age,Average_Rent_SqFt,rent_count,rent_sales_ratio,rent_sales_age_percent,rent_sales_SqFt_percent
371,LASALLE PLACE,34.960000,111.000000,758.000000,1,0.880000,118.000000,906.000000,1,25.171625,0.063063,0.195251
341,INNWOOD,51.577500,39.000000,538.000000,4,1.250000,38.000000,538.000000,1,24.235374,0.025641,0.000000
637,WESTMEADE,29.990000,91.000000,1142.000000,1,0.720000,94.000000,1040.000000,1,24.008003,0.032967,0.089317
192,DULWORTH JC,72.133333,66.666667,1187.333333,3,1.120000,61.000000,1114.000000,1,15.526802,0.085000,0.061763
178,DEARBORN,52.955000,71.500000,1205.000000,4,0.816667,86.666667,1211.000000,3,15.421899,0.212121,0.004979
78,BROAD ACRES,76.000000,69.500000,700.000000,2,1.070000,68.000000,700.000000,1,14.078947,0.021583,0.000000
376,LENOX,73.103333,76.666667,940.933333,15,1.000000,69.400000,730.400000,5,13.679267,0.094783,0.223749
37,BAYBERRY CONDOS,62.300000,35.000000,915.000000,1,0.840000,35.000000,1011.000000,1,13.483146,0.000000,0.104918
462,PARKDALE,73.091250,72.750000,1186.500000,8,0.917500,78.200000,929.400000,5,12.552802,0.074914,0.216688
255,GLASSWORKS,99.753500,110.000000,1303.750000,20,1.220000,110.000000,1000.000000,1,12.230147,0.000000,0.232982
184,DOERHOEFERS,70.415000,72.000000,1937.500000,6,0.826667,93.333333,1447.333333,3,11.739923,0.296296,0.252989
529,SHADOWOOD TOWN HOMES,56.553333,42.666667,1728.000000,3,0.656667,39.000000,1750.333333,3,11.611458,0.085937,0.012924
201,EL CONQUISTADOR,76.003333,43.666667,953.416667,12,0.870000,41.500000,1004.000000,2,11.446866,0.049618,0.053055
375,LENNOX,71.640000,69.500000,1052.000000,2,0.820000,70.000000,1100.000000,1,11.446119,0.007194,0.045627
382,LINDSAY HEIGHTS,118.507273,42.909091,741.636364,11,1.352857,43.285714,610.000000,7,11.415815,0.008777,0.177494
294,HAZELDAWN,86.670000,82.500000,1474.333333,6,0.980000,74.000000,1142.000000,1,11.307257,0.103030,0.225413
322,HILLVIEW,116.715000,41.500000,1134.500000,4,1.315000,40.500000,916.000000,2,11.266761,0.024096,0.192596
244,G H RAND,72.970000,77.500000,819.000000,2,0.820000,57.000000,857.000000,1,11.237495,0.264516,0.046398
459,PARK FOREST,83.001000,61.200000,1019.500000,10,0.925000,61.000000,1190.000000,2,11.144444,0.003268,0.167239
402,MEADOWS,100.578333,81.333333,956.000000,6,1.116667,76.666667,733.666667,3,11.102457,0.057377,0.232566
426,NICHOLS MEADOW,78.313333,38.333333,1643.666667,3,0.856667,48.333333,1289.333333,3,10.938963,0.260870,0.215575
403,MELBOURNE HEIGHTS,102.600000,80.000000,2059.000000,1,1.116667,64.666667,1638.333333,3,10.883691,0.191667,0.204306
120,CEDAR HILLS ACRES,129.300000,62.000000,1924.333333,3,1.400000,60.000000,1704.000000,1,10.827533,0.032258,0.114499
609,UNKNOWN,79.665000,87.000000,1027.500000,2,0.860000,90.000000,880.000000,1,10.795205,0.034483,0.143552
68,BRIARGATE,103.367500,60.312500,1276.375000,16,1.114000,61.600000,1181.400000,5,10.777082,0.021347,0.074410
121,CEDAR LAKE,120.855000,48.500000,1248.500000,2,1.300000,48.000000,1000.000000,1,10.756692,0.010309,0.199039
497,RIVERA PARK,140.495000,54.500000,1663.500000,2,1.500000,57.000000,1550.000000,1,10.676537,0.045872,0.068230
99,BUECHEL,115.325000,50.000000,1653.000000,2,1.230000,65.000000,1758.000000,1,10.665511,0.300000,0.063521
316,HIGHWOOD,97.711000,40.800000,1048.500000,10,1.035000,39.500000,1170.500000,2,10.592461,0.031863,0.116357
519,SCOTTSDALE,128.701667,53.708333,1214.333333,24,1.360000,53.000000,1025.000000,1,10.567074,0.013189,0.155915
...,...,...,...,...,...,...,...,...,...,...,...,...
602,TRANSYLVANIA,166.670000,96.000000,2040.000000,1,0.830000,89.000000,2040.000000,1,4.979900,0.072917,0.000000
485,REGAL HILLS,167.465000,63.000000,2754.000000,2,0.830000,48.500000,2155.000000,2,4.956260,0.230159,0.217502
91,BROOKSHIRE,183.358333,8.833333,2469.333333,6,0.900000,7.000000,2000.000000,1,4.908422,0.207547,0.190065
46,BELKNAP,205.442857,57.428571,1858.142857,7,1.006000,55.400000,1537.600000,5,4.896739,0.035323,0.172507
491,RIDGEHURST PLACE,157.696667,21.666667,2631.000000,3,0.770000,18.000000,2076.000000,1,4.882792,0.169231,0.210946
384,LOCUST CREEK ESTATES,172.360000,14.000000,6466.500000,2,0.840000,11.000000,6134.000000,1,4.873521,0.214286,0.051419
318,HILL RIDGE,156.989167,47.750000,2198.916667,12,0.765000,42.000000,2552.500000,2,4.872948,0.120419,0.160799
556,SPRINGHURST VILLAGE,164.530000,21.000000,2267.000000,1,0.800000,25.000000,2900.000000,1,4.862335,0.190476,0.279224
496,RIVER CREEK ESTATES,166.760000,27.000000,4581.000000,1,0.810000,24.000000,4581.000000,1,4.857280,0.111111,0.000000
470,PAVILION PARK,160.460000,2.727273,2439.727273,11,0.770000,2.000000,2400.000000,1,4.798704,0.266667,0.016283
113,CASA LANDA,176.058000,39.800000,1544.000000,5,0.840000,37.800000,1384.400000,5,4.771155,0.050251,0.103368
340,INDIAN SPRINGS,167.621000,22.600000,3071.600000,10,0.795000,21.000000,2271.000000,2,4.742842,0.070796,0.260646
83,BROECK POINTE,144.532000,43.000000,2746.400000,5,0.680000,36.000000,3196.000000,1,4.704840,0.162791,0.163705
503,ROCK SPRINGS,213.438148,5.555556,3399.518519,27,1.004000,5.000000,3776.000000,5,4.703939,0.100000,0.110746
236,FOREST SPRINGS NORTH,163.760625,18.062500,3064.562500,32,0.770000,18.000000,3493.000000,1,4.701985,0.003460,0.139804
513,SADDLEBROOK,164.260000,23.000000,2879.500000,2,0.760000,21.000000,2564.000000,1,4.626811,0.086957,0.109568
575,SYCAMORE RIDGE EST,214.705000,15.500000,6503.500000,2,0.990000,11.000000,6408.000000,1,4.610978,0.290323,0.014684
383,LOCUST CREEK,179.994516,9.838710,4999.741935,31,0.825714,11.714286,5917.857143,7,4.587441,0.190632,0.183633
468,PARKWAY TERRACE,166.214286,82.857143,1608.285714,7,0.760000,88.000000,2049.750000,4,4.572411,0.062069,0.274494
457,PARISTOWN POINTE,173.187500,96.500000,1636.750000,4,0.787500,104.250000,1187.750000,4,4.547095,0.080311,0.274324
657,WINDHURST ACRES,170.993750,40.375000,2068.750000,8,0.773333,34.000000,1725.000000,3,4.522582,0.157895,0.166163
27,BARBEE HEIGHTS,172.882143,99.214286,1202.071429,14,0.760000,93.500000,1200.000000,2,4.396058,0.057595,0.001723
212,FAIRLAWN,188.880000,76.250000,1619.250000,4,0.830000,74.000000,1817.000000,1,4.394324,0.029508,0.122124
216,FARMGATE,159.125455,46.454545,2179.090909,11,0.680000,40.000000,2332.000000,1,4.273358,0.138943,0.070171
74,BRISCOE,190.720000,100.000000,3050.000000,1,0.810000,88.000000,2148.000000,1,4.247064,0.120000,0.295738
135,CHEROKEE GARDENS,228.010714,81.214286,3591.142857,14,0.955000,79.000000,2551.500000,2,4.188400,0.027265,0.289502
571,SUTHERLAND,166.640500,21.400000,5242.600000,20,0.690000,15.000000,5651.000000,1,4.140650,0.299065,0.077900
21,ASHLEY PLACE,179.790000,22.000000,2451.500000,2,0.710000,20.000000,2250.000000,1,3.949052,0.090909,0.082195
109,CANDLEWOOD,156.800000,49.000000,2710.000000,1,0.560000,50.000000,1950.000000,1,3.571429,0.020408,0.280443
619,VILLAGE GREEN,134.854000,58.800000,1115.600000,5,0.310000,63.000000,1370.000000,1,2.298782,0.071429,0.228039